{%- if settings.show_cart_note -%}
  <cart-note class="cart__note field" style="--inputs-radius: 0.5rem;">
    <label for="Cart-note">{{ 'content.note' | t }}</label>
    <textarea
      class="text-area field__input"
      name="note"
      form="cart"
      id="Cart-note"
      placeholder="{{ 'content.note_placeholder' | t }}"
    >{{ cart.note }}</textarea>
  </cart-note>
{%- endif -%}