<side-drawer id="Global-Drawer" class="drawer drawer__container fixed top-0 left-0 w-screen h-full z-9 flex justify-end no-js-hidden" data-drawer-direction="right">
    <div id="Drawer-Overlay-Global" class="drawer__overlay fixed inset-0 cursor-pointer"></div>
    <div id="Global-Drawer" class="side-drawer">
      <side-drawer-close href="#" class="drawer__close absolute cursor-pointer" data-side-drawer="#Global-Drawer">
        <button class="button--drawer focus-inset">
          <span class="svg-wrapper">
            {{- 'icon-close.svg' | inline_asset_content -}}
          </span>
          <span class="visually-hidden">{{ 'accessibility.close' | t }}</span>
        </button>
      </side-drawer-close>
      <div
        class="drawer__inner color-{{ section.settings.color_scheme }} cus-scrollbar"
        role="dialog"
        aria-modal="true"
        aria-label="Global Sidebar"
        tabindex="-1"
        data-drawer-content
      >
      </div>
    </div>
</side-drawer>