<div class="halo-compareProduct-content">
	<div class="halo-compareProduct-table custom-scrollbar-x pos-relative max-w-100 max-h-100 over-x-a">
		<table class="compareTable pos-relative">
			<thead>
				<tr class="compareTable-row">
					{%- assign headings = 'product,sku,description,collection,availability,product_type,other_details' | split: ',' -%}
					{%- for heading in headings -%}
						<th class="compareTable-heading center f-w-bold t-uppercase body-l-font-size"><span class="compareTable-headingText w-space-nowrap">{{ 'compare.general.' | append: heading | t }}</span></th>
					{%- endfor -%}
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>
</div>