{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-menu-multi-site' %}
{% endcomment %}

<nav class="header__inline-menu header__inline-menu-multi-site" data-menu-page>
  <template>
    <ul class="list-menu list-menu-desktop list-menu--inline {{block.settings.color_scheme}}" role="list">
      {%- for link in menu -%}
        <li>
          {%- if link.links != blank -%}
            {%- liquid
              assign mega_menu_1 = blocks | where: 'type', 'mega_menu_1'
              assign mega_menu_2 = blocks | where: 'type', 'mega_menu_2'
              assign mega_menu_3 = blocks | where: 'type', 'mega_menu_3'

              assign check_mega_menu_1 = false
              assign check_mega_menu_2 = false
              assign check_mega_menu_3 = false

              assign has_mega_menu_1 = false
              assign has_mega_menu_2 = false
              assign has_mega_menu_3 = false

              assign menu_title = link.title | escape | downcase | handle

              if mega_menu_1.size > 0
                assign check_mega_menu_1 = true
              endif
              for block in mega_menu_1
                assign block_title = block.settings.menu_item | escape | downcase | handle
                if block_title == menu_title
                  assign block = block
                  assign has_mega_menu_1 = true
                endif
              endfor

              if mega_menu_2.size > 0
                assign check_mega_menu_2 = true
              endif
              for block in mega_menu_2
                assign block_title = block.settings.menu_item | escape | downcase | handle
                if block_title == menu_title
                  assign block = block
                  assign has_mega_menu_2 = true
                endif
              endfor

              if mega_menu_3.size > 0
                assign check_mega_menu_3 = true
              endif
              for block in mega_menu_3
                assign block_title = block.settings.menu_item | escape | downcase | handle
                if block_title == menu_title
                  assign block = block
                  assign has_mega_menu_3 = true
                endif
              endfor

              assign icon_type = section.settings.icon_type

              if check_mega_menu_1 and has_mega_menu_1
                render 'header-mega-menu-1', link: link, forloopIndex: forloop.index, block: block, icon_type: icon_type, keys: keys, settings: section.settings
              elsif check_mega_menu_2 and has_mega_menu_2
                render 'header-mega-menu-2', link: link, forloopIndex: forloop.index, block: block, icon_type: icon_type, keys: keys, settings: section.settings
              elsif check_mega_menu_3 and has_mega_menu_3
                render 'header-mega-menu-3', link: link, forloopIndex: forloop.index, block: block, icon_type: icon_type, keys: keys, settings: section.settings
              else
                render 'header-dropdown-menu', link: link, forloopIndex: forloop.index, icon_type: icon_type, settings: section.settings
              endif
            -%}
          {%- else -%}
            <a
              id="HeaderMenu-{{ link.handle }}"
              href="{{ link.url }}"
              class="header__menu-item list-menu__item link link--text focus-inset link--hover-underline"
              {% if link.current %}
                aria-current="page"
              {% endif %}
            >
              <span
                class="text{% if link.current %} header__active-menu-item{% endif %}"
              >
                {{- link.title | escape -}}
              </span>
            </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </template>
</nav>