<div
  class="header-block grid__item dis-block{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
> 
  <div class="dis-flex f-wrap j-c-end j-c-center-mb" {% if block.blocks.size > 0 %}data-menu-tab{% endif %}>
      
  </div>
</div>