{{ 'preload-screen.css' | asset_url | stylesheet_tag }}

<preload-screen class="preload-screen pos-fixed inset-0 gradient dis-flex a-i-center j-c-center over-h pointer-e-none no-js-hidden z-index-100">
    <div class="preload__screen-logo">
        {% render 'header-logo' %}
    </div>
</preload-screen>
