<quick-view-modal class="quick-view-modal modal--popup pos-fixed top-0 left-0 z-index-9 wid-100v hei-100 dis-flex j-c-center no-js-hidden" id="QuickViewStandard" >
    <div id="Modal-Overlay" class="drawer__overlay pos-fixed inset-0 c-pointer"></div>
    <div class="popup__inner quick-view-modal__content wid-auto hei-100v pos-absolute-c-c dis-flex f-column gradient global-settings-popup" role="dialog" aria-modal="true" aria-label="{{ 'products.product.choose_product_options' | t: product_name: product.title | escape }}" tabindex="-1" style="--popup-max-height: 85%;">
        <button class="quick-view-modal__toggle drawer__close dis-block t-button bor-none bor-circle c-pointer" type="button" onclick="this.closest('quick-view-modal').hide()" aria-label="{{ 'accessibility.close' | t }}">
            {{- 'icon-close.svg' | inline_asset_content -}}
        </button>
        <div id="QuickViewModal" class="quick-view-modal__content-info cus-scrollbar"></div>
    </div>
</quick-view-modal>
