{% comment %}
    Render grid view
    Accepts:
    - columns_desktop: {String} Type of columns
    - filter_type: {String} Type of filter

    Usage:
    {% render 'switcher-grid', columns_desktop: columns_desktop, filter_type: 'vertical' %}
{% endcomment %}

<grid-view class="switcher-grid no-js-hidden small-hide medium-hide">
    {%- if filter_type == 'vertical' -%}
        <ul class="flex list-unstyled" role="list" style="--lg-gap: 0.8rem;--xl-gap: 1.6rem;">
            <li class="grid-view-list">
                <button class="button--grid-view t-button rounded-full flex items-center justify-center{% if columns_desktop == 1 %} active{% else %} cursor-pointer{% endif %}" type="button" aria-label="list" data-grid="list" style="--p: 1rem;--w: 4rem;--h: 4rem;">list</button>
            </li>
            <li class="grid-view-2">
                <button class="button--grid-view t-button rounded-full flex items-center justify-center{% if columns_desktop == 2 %} active{% else %} cursor-pointer{% endif %}" type="button" aria-label="2" data-grid="2" style="--p: 1rem;--w: 4rem;--h: 4rem;">2</button>
            </li>
            <li class="grid-view-3">
                <button class="button--grid-view t-button rounded-full flex items-center justify-center{% if columns_desktop == 3 %} active{% else %} cursor-pointer{% endif %}" type="button" aria-label="3" data-grid="3" style="--p: 1rem;--w: 4rem;--h: 4rem;">3</button>
            </li>
            <li class="grid-view-4">
                <button class="button--grid-view t-button rounded-full flex items-center justify-center{% if columns_desktop == 4 %} active{% else %} cursor-pointer{% endif %}" type="button" aria-label="4" data-grid="4" style="--p: 1rem;--w: 4rem;--h: 4rem;">4</button>
            </li>
        </ul>
    {%- else -%}
        <details
            id="Details-GridView"
            class="facets__panel facets__panel--{{ style }} details--dropdown facet-filters__sort facet-grid-view relative caption-large"
            is="dropdown-details"
            {% if enable_hover_reveal %}
                activate-event="hover"
            {% endif %}
            data-index="0"
        >
            <summary class="details__summary facets__summary focus-inset">
                <span class="facet-grid-view_label">
                    test Grid
                </span>
            </summary>
            <div id="GridViewPopup" class="details__list absolute top-full right-0 z-1 global-settings-popup" style="--min-w: 20rem;" tabindex="-1">
                <ul class="flex list-unstyled" role="list" style="--p: 1.3rem 2rem;">
                    <li class="grid-view-list">
                        <button class="button--grid-view t-button rounded-full flex items-center justify-center{% if columns_desktop == 1 %} active{% else %} cursor-pointer{% endif %}" type="button" aria-label="list" data-grid="list" style="--p: 1rem;--w: 4rem;--h: 4rem;">list</button>
                    </li>
                    <li class="grid-view-2">
                        <button class="button--grid-view t-button rounded-full flex items-center justify-center{% if columns_desktop == 2 %} active{% else %} cursor-pointer{% endif %}" type="button" aria-label="2" data-grid="2" style="--p: 1rem;--w: 4rem;--h: 4rem;">2</button>
                    </li>
                    <li class="grid-view-3">
                        <button class="button--grid-view t-button rounded-full flex items-center justify-center{% if columns_desktop == 3 %} active{% else %} cursor-pointer{% endif %}" type="button" aria-label="3" data-grid="3" style="--p: 1rem;--w: 4rem;--h: 4rem;">3</button>
                    </li>
                    <li class="grid-view-4">
                        <button class="button--grid-view t-button rounded-full flex items-center justify-center{% if columns_desktop == 4 %} active{% else %} cursor-pointer{% endif %}" type="button" aria-label="4" data-grid="4" style="--p: 1rem;--w: 4rem;--h: 4rem;">4</button>
                    </li>
                </ul>
            </div>
        </details>
    {%- endif -%}
</grid-view>
