{%- assign labels = labels | split: ',' -%}

{%- for label in labels -%}
  {%- capture class_default -%}
    {{ class }} tabs-component-panel-trigger
    {% if forloop.first %} --active{% endif %}
  {%- endcapture -%}

  {%- capture link -%}#tabs-{{ id }}-{{ forloop.index }}{%- endcapture -%}

  {%- if settings.style_class == 'link' -%}
    {%- assign style_tabs_header_item = '' -%}
  {%- endif-%}

  {% render 'button',
    link: link,
    label: label,
    class: class_default,
    style: style_tabs_header_item,
    style_class: settings.style_class,
    button_style: settings.button_style,
    link_underline: settings.link_underline,
    splitting_text: splitting_text,
    splitting_text_by: splitting_text_by
  %}
{%- endfor -%}

{%- if settings.style_class == 'button' -%}
  <span class="mask-background absolute top-0 left-0 whitespace-nowrap flex-center"></span>
{%- endif -%}

{%- stylesheet -%}
  .tabs-component-panel-trigger:hover,
  .tabs-component-panel-trigger.--active {
    --button-color: var(--color-tab-active);
    --button-background-color: var(--background-tab-active);
    background: var(--background-tab-active);
    &.button--outline {
      --border-outline-color: var(--color-tab-active);
    }
  }

{%- endstylesheet -%}
