{%- capture class -%}
  category-item category-view-all shadow-style border-style relative overflow-hidden flex-center center link link--text link--hover-underline
{%- endcapture -%}

<a href="{{ block.settings.url }}" class="{{ class }}">
    {{- block.settings.url_label -}}
</a>

{%- stylesheet -%}
  .category-view-all {
    display: flex;
    min-height: 10rem;
  }
{%- endstylesheet -%}


{% schema %}
{
  "name": "Category view all",
  "tag": null,
  "settings": [
    {
      "type": "url",
      "id": "url",
      "label": "URL"
    },
    {
      "type": "text",
      "id": "url_label",
      "label": "URL label",
      "default": "View all categories"
    }
  ],
  "presets": [
    {
      "name": "Category view all",
      "category": "t:categories.collections"
    }
  ]
}
{% endschema %}