<div class="lookbook-group relative">
  {%- content_for 'blocks' -%}
</div>

{% schema %}
{
  "name": "Lookbook group",
  "settings": [
    
  ],
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_lookbook-item"
    },
    {
      "type": "text"
    },
    {
      "type": "button"
    },
    {
      "type": "_lookbook-circle-text"
    },
    {
      "type": "_lookbook-row"
    }
  ],
  "presets": [
    {
      "name": "Lookbook group"
    }
  ]
}
{% endschema %}