<div class="circle-container">
    <div class="play-icon"></div>
    <svg viewBox="0 0 200 200">
      <defs>
        <path id="circlePath"
          d="M 100, 100
             m -75, 0
             a 75,75 0 1,1 150,0
             a 75,75 0 1,1 -150,0"/>
      </defs>
      <text>
        <textPath href="#circlePath">
          VISUALIZER TEASER • VISUALIZER TEASER • VISUALIZER TEASER •
        </textPath>
      </text>
    </svg>
  </div>

{% stylesheet %}
    .circle-container {
    position: relative;
    width: 200px;
    height: 200px;
  }

  /* icon play */
  .circle-container .play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 35px solid black;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    z-index: 2;
  }

  /* svg text path */
  .circle-container svg {
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    animation: spin 10s linear infinite;
  }

  @keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }

  .circle-container text {
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Lookbook circle text",
  "blocks": [],
  "settings": [],
  "presets": [
    {
      "name": "Lookbook circle text"
    }
  ]
}
{% endschema %}