{%- capture children -%}
  {%- content_for 'blocks' -%}
{%- endcapture -%}
<div class="site-nav-mobile">
  {{- children -}}
</div>

{% schema %}
  {
    "name": "Contents",
    "tag": null,
    "blocks": [
      {
        "type": "_menu-tab-list"
      }
    ],
    "presets": [
      {
        "name": "Contents"
      }
    ]
  }
{% endschema %}