<a
  href="#"
  class="mobile--multi-tab-button link link--text cursor-pointer"
  role="button"
  aria-label="{{ block.settings.title }}"
  data-tab-heading
  data-tab-heading-target="{{ block.settings.title }}"
>
  <span>{{ block.settings.title }}</span>
</a>

{%- stylesheet -%}
  .mobile--multi-tab-button {
    padding: var(--padding-sm) var(--padding-xl);
    min-height: var(--size-40);
  }
{%- endstylesheet -%}

{% schema %}
{
  "name": "Heading",
  "tag": null,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Heading",
      "settings": {}
    }
  ]
}
{% endschema %}
