<div class="parallax-scroll-item" {{ block.shopify_attributes }}>
  {{ block.settings.text }}
</div>

{% schema %}
{
  "name": "Scrolling item",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "t:settings.text",
      "default": "Scrolling Item"
    }
  ],
  "presets": [
    {
      "name": "Scrolling item",
      "category": "t:categories.decorative"
    }
  ]
}
{% endschema %}
