<div class="image-item">
  {%- if block.settings.image_link != blank -%}
    <a href="{{ block.settings.image_link }}">
      {{ block.settings.image | image_url: width: 3840 | image_tag: width: block.settings.image.width }}
    </a>
  {% else %}
    {{ block.settings.image | image_url: width: 3840 | image_tag: width: block.settings.image.width }}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "Image",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "alt",
      "label": "Alt text"
    },
    {
      "type": "url",
      "id": "image_link",
      "label": "Image link"
    }
  ],
  "presets": [
    {
      "name": "Image"
    }
  ]
}
{% endschema %}
