{%- liquid
    assign section_id = section.id
    assign card_product = block.settings.product
    assign enable_quick_view = settings.enable_quick_view
    assign enable_wishlist = settings.enable_wishlist
    assign enable_compare = settings.enable_compare

    if settings.quick_add_type == 'icon' and block.blocks.size > 0
        assign quick_add_is_icon = true
        assign class_group = 'pos-absolute-md top-0 right-0 z-index-2'
        assign class_group_inner = 'pos-absolute-mb top-0 right-0 z-index-2'
    elsif settings.quick_add_type == 'text'
        assign class_group = 'pos-absolute top-0 right-0 z-index-2'
    endif
-%}

{%- if card_product and card_product != empty -%}
    <div class="card-product__group-wrapper{% if quick_add_is_icon %} {{ class_group }} quick-add-type-icon{% endif %}">
        <div class="card--block-group card-product__group dis-flex f-column {% if settings.quick_add_type == 'text' %} {{ class_group }}{% endif %}{% if quick_add_is_icon %} {{ class_group_inner }}{% endif %}" style="--gap-y: 1rem; --pad-a-a: .5rem; --pad-b-a: 1rem; --pad-a-a-md: 1rem; --pad-b-a-md: 1rem; --pad-a-a-lg: 1.6rem; --pad-b-a-lg: 1rem;">
            {%- assign class_button = 'card-product__group-btn bor-circle bor-none center c-pointer dis-flex a-i-center j-c-center pos-relative' -%}
            
            {% comment %} ------ Wishlist ------ {% endcomment %}
            {%- if enable_wishlist -%}
                {% render 'product-wishlist-button', card_product: card_product, class_button: class_button %}
                
            {%- endif -%}
    
            {% comment %} ------ Quick view ------ {% endcomment %}
             {%- if enable_quick_view -%}
                {% render 'quick-view-button', card_product: card_product, class_button: class_button %}
             {%- endif -%}
    
            {% comment %} ------ Compare ------ {% endcomment %}
             {%- if enable_compare -%}
                 {% render 'product-compare-button', card_product: card_product, class_button: class_button, sectionId: section_id %}
             {%- endif -%}
        </div>

        {% comment %} ------ Quick add ------ {% endcomment %}
        {% content_for 'blocks' %}
    </div>
{%- endif -%}

{% schema %}
    {
        "name": "Group: Product buttons",
        "tag": null,
        "blocks": [{ "type": "card-product-button-flex" }],
        "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "t:sections.collage.blocks.product.settings.product.label"
            },
        ],
        "presets": [
            {
                "name": "Group: Product buttons",
                "settings": {
                    "product": "{{ closest.product }}"
                }
            }
        ]
    }
{% endschema %}