<div class="footer__content-bottom-wrapper flex items-center">
  <div class="footer__column footer__localization relative z-0">
    {%- if block.settings.enable_country_selector and localization.available_countries.size > 1 -%}
      <localization-form>
        {%- form 'localization', id: 'FooterCountryForm', class: 'localization-form' -%}
          <div>
            <h2 class="caption-large text-body" id="FooterCountryLabel">{{ 'localization.country_label' | t }}</h2>
            {%- render 'country-localization', localPosition: 'FooterCountry' -%}
          </div>
        {%- endform -%}
      </localization-form>
    {%- endif -%}

    {%- if block.settings.enable_language_selector and localization.available_languages.size > 1 -%}
      <localization-form>
        {%- form 'localization', id: 'FooterLanguageForm', class: 'localization-form' -%}
          <div>
            <h2 class="caption-large text-body" id="FooterLanguageLabel">{{ 'localization.language_label' | t }}</h2>
            {%- render 'language-localization', loca lPosition: 'FooterLanguage' -%}
          </div>
        {%- endform -%}
      </localization-form>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": "Country selector",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer-bottom.settings.header__1.content",
      "info": "t:sections.footer-bottom.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer-bottom.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer-bottom.settings.header__2.content",
      "info": "t:sections.footer-bottom.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer-bottom.settings.enable_language_selector.label"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Country selector"
    }
  ]
}
{% endschema %}
