<h2 class="footer-block__heading inline-richtext">{{ block.settings.heading }}</h2>

{%- if block.settings.menu != blank -%}
  <ul class="dis-flex f-column list-unstyled">
    {%- for link in block.settings.menu.links -%}
      <li>
        <a
          href="{{ link.url }}"
          class="link link--text list-menu__item list-menu__item--link"
        >
          {{ link.title | escape }}
        </a>
      </li>
    {%- endfor -%}
  </ul>
{%- endif -%}

{% schema %}
{
  "name": "Footer link list",
  "tag": null,
  "blocks": [],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.blocks.link_list.settings.menu.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "t:sections.footer.blocks.link_list.settings.heading.default",
      "label": "t:sections.footer.blocks.link_list.settings.heading.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.footer.blocks.link_list.settings.menu.label"
    }
  ],
  "presets": [
    {
      "name": "Footer link list"
    }
  ]
}
{% endschema %}
