{% comment %} [START block.markup] {% endcomment %}
<div
  class="{{ block.settings | class_list }} color-{{ block.settings.color_scheme }} gradient"
  {{ block.shopify_attributes }}
> 
    <div class="dis-flex f-wrap j-c-end j-c-center-mb">
        {% content_for 'blocks' %}
    </div>
</div>
{% comment %} [END block.markup] {% endcomment %}

{% comment %} [START block.preset] {% endcomment %}
{% schema %}
{
  "name": "Group: Multi site",
  "tag": null,
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    }
  ],
  "blocks": [
    { "type": "metu-tab" }
  ],
  "presets": [
    { "name": "Group: Multi site" }
  ]
}
{% endschema %}
{% comment %} [END block.preset {% endcomment %}