{% stylesheet %}
{% endstylesheet %}

{% comment %} [START block.markup] {% endcomment %}
<div
  class="{{ block.settings | class_list }}"
  {{ block.shopify_attributes }}
>
  <div class="header__icons{% if block.settings.enable_country_selector or block.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}">
    {%- render 'header-functions',
      enable_menu_drawer: true,
      enable_localization: true,
      enable_search: true,
      enable_account: true,
      enable_cart: true
    -%}
  </div>
</div>
{% comment %} [END block.markup] {% endcomment %}

{% comment %} [START block.preset] {% endcomment %}
{% schema %}
{
  "name": "Header functions",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    }
  ],
  "presets": [
    { "name": "Header functions" }
  ]
}
{% endschema %}
{% comment %} [END block.preset {% endcomment %}