{% stylesheet %}
{% endstylesheet %}

{% comment %} [START block.markup] {% endcomment %}
<div
  class="{{ block.settings | class_list }}"
  {{ block.shopify_attributes }}
>
  {% render 'header-menu' %}
</div>
{% comment %} [END block.markup] {% endcomment %}

{% comment %} [START block.preset] {% endcomment %}
{% schema %}
{
  "name": "Header menu",
  "tag": null,
  "settings": [
  ],
  "presets": [
    { "name": "Header menu" }
  ]
}
{% endschema %}
{% comment %} [END block.preset {% endcomment %}