{% comment %} [START block.markup] {% endcomment %}
<div
  class="header-block header-block--{{ block.id }} grid__item dis-block{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if block.settings.vertical_menu != 'none' %} dis-flex a-i-center j-c-center{% endif %}"
  style="--width-header-col: {{ block.settings.width_grid_item }}%;"
  {{ block.shopify_attributes }}
>
  {%- if block.settings.vertical_menu == 'style_1' -%}
    {% render 'header-menu-vertical' %}
  {%- endif -%}
  {% render 'header-menu' %}
</div>
{% comment %} [END block.markup] {% endcomment %}

{% comment %} [START block.preset] {% endcomment %}
{% schema %}
{
  "name": "Header menu",
  "tag": null,
  "settings": [
    {
      "type": "range",
      "id": "width_grid_item",
      "min": 15,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.header.settings.grid_item.label__1",
      "info": "t:sections.header.settings.grid_item.info",
      "default": 25
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__7.content",
      "info": "t:sections.header.settings.header__7.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "header",
      "content": "Main menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.blocks.vertical_menu.label"
    },
    {
      "type": "select",
      "id": "vertical_menu",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.blocks.vertical_menu.options__none.label"
        },
        {
          "value": "style_1",
          "label": "t:sections.header.blocks.vertical_menu.options__1.label"
        }
      ],
      "default": "style_1",
      "label": "t:sections.header.blocks.vertical_menu.label"
    },
    {
      "type": "text",
      "label": "t:sections.header.blocks.vertical_menu.title",
      "id": "vertical_menu_title",
      "default": "Dropdown List"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_vertical_menu",
      "label": "Vertical menu color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [{ "name": "Header menu" }]
}
{% endschema %}
{% comment %} [END block.preset {% endcomment %}
