{% comment %} [START block.markup] {% endcomment %}
<div
  class="header-block header-block--{{ block.id }} grid__item dis-block{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
  style="--width-header-col: {{ block.settings.width_grid_item }}%;"
  {{ block.shopify_attributes }}
>
  {% render 'header-search', input_id: 'Search-In-Modal-1' %}
</div>
{% comment %} [END block.markup] {% endcomment %}

{% comment %} [START block.preset] {% endcomment %}
{% schema %}
{
  "name": "Header search",
  "tag": null,
  "settings": [
    {
      "type": "range",
      "id": "width_grid_item",
      "min": 15,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.header.settings.grid_item.label__1",
      "info": "t:sections.header.settings.grid_item.info",
      "default": 25
    }
  ],
  "presets": [
    { "name": "Header search" }
  ]
}
{% endschema %}
{% comment %} [END block.preset {% endcomment %}