{% comment %} [START nesting.block_render] {% endcomment %}
<div
  class="header-grid {{ block.settings | class_list }} group-block group-block--{{ block.id }} color-{{ block.settings.color_scheme }}"
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>
{% comment %} [END nesting.block_render] {% endcomment %}

{% comment %} [START nesting.block_schema] {% endcomment %}
{% schema %}
{
  "name": "Group: Mega menu",
  "tag": null,
  "blocks": [
    { "type": "@app" },
    { "type": "group-social" },
    { "type": "group-announcement" },
    { "type": "group-regional" },
    { "type": "text" }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.colors.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
{% comment %} [END nesting.block_schema] {% endcomment %}