{% stylesheet %}
{% endstylesheet %}

{% comment %} [START block.markup] {% endcomment %}
<div
  class="block-menu {{ block.settings | class_list }} {% if block.settings.vertical_menu != 'none' %}dis-flex a-i-center j-c-center{% endif %}"
  {{ block.shopify_attributes }}
>
  {%- if block.settings.vertical_menu == 'style_1' -%}
    {% render 'header-menu-vertical' %}
  {%- endif -%}
  {% render 'header-menu' %}
</div>
{% comment %} [END block.markup] {% endcomment %}

{% comment %} [START block.preset] {% endcomment %}
{% schema %}
{
  "name": "Header menu",
  "tag": null,
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Menu Vertical Scheme"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_vertical_menu",
      "label": "Vertical Menu Color Scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.blocks.vertical_menu.label"
    },
    {
      "type": "select",
      "id": "vertical_menu",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.blocks.vertical_menu.options__none.label"
        },
        {
          "value": "style_1",
          "label": "t:sections.header.blocks.vertical_menu.options__1.label"
        }
      ],
      "default": "style_1",
      "label": "t:sections.header.blocks.vertical_menu.label"
    },
    {
      "type": "text",
      "label": "t:sections.header.blocks.vertical_menu.title",
      "id": "vertical_menu_title",
      "default": "Dropdown List"
    }
  ],
  "presets": [{ "name": "Header menu" }]
}
{% endschema %}
{% comment %} [END block.preset {% endcomment %}
