{% comment %} [START nesting.block_render] {% endcomment %}
<div
  class="{{ block.settings | class_list }} group-block group-block--{{ block.id }} color-{{ block.settings.color_scheme }}"
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>
{% comment %} [END nesting.block_render] {% endcomment %}

{% comment %} [START nesting.block_schema] {% endcomment %}
{% schema %}
{
  "name": "t:sections.announcement-bar.blocks.sale-banner.name",
  "tag": null,
  "blocks": [{ "type": "@app" }, { "type": "text" }],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.colors.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "t:sections.announcement-bar.blocks.sale-banner.name",
      "settings": {
        "color_scheme": "scheme-3"
      },
      "blocks": [
        {
          "type": "text",
          "settings": {
            "text": "<h3>Banner test</h3>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
{% comment %} [END nesting.block_schema] {% endcomment %}