{% comment %} [START nesting.block_render] {% endcomment %}
<div
  class="header-grid{% if block.blocks.size > 3%}header__grid--3-col{% endif %} {{ block.settings | class_list }} group-block group-block--{{ block.id }} color-{{ block.settings.color_scheme }}"
  {{ block.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>
{% comment %} [END nesting.block_render] {% endcomment %}

{% comment %} [START nesting.block_schema] {% endcomment %}
{% schema %}
{
  "name": "Group: Mega menu",
  "tag": null,
  "blocks": [
    { "type": "@app" },
    { "type": "group-shopping-function" },
    { "type": "group-search" },
    { "type": "group-logo" },
    { "type": "group-menu" },
    { "type": "text" }
  ],
  "settings": [
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Group: Mega menu",
      "settings": {
        "color_scheme": "scheme-3"
      }
    }
  ]
}
{% endschema %}
{% comment %} [END nesting.block_schema] {% endcomment %}