<h2 class="footer-block__heading inline-richtext {% if block.settings.underline %} underline{% endif %}">
  {{ block.settings.heading }}
</h2>

{% schema %}
{
  "name": "Heading Column",
  "tag": null,
  "blocks": [],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.blocks.link_list.settings.menu.label"
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Heading Column",
      "label": "t:sections.footer.blocks.link_list.settings.heading.label"
    },
    {
      "type": "checkbox",
      "id": "underline",
      "label": "t:sections.footer.blocks.link_list.settings.underline.label",
      "default": false
    }
  ],
  "presets": [
    {
      "name": "Heading Column"
    }
  ]
}
{% endschema %}
