{% comment %} [START block.markup] {% endcomment %}
  <div class="announcement-wrapper dis-flex a-i-center" {{ block.shopify_attributes }} style="--c-gap-a: 1.5rem;--pad-a-a: 0 2.5rem;--pad-a-a-md: 0 3.75rem;--pad-a-a-lg: 0 5rem;">
    <span class="dis-flex a-i-center w-space-nowrap typography-font-heading mar-t-0 mar-b-0" style="--gap-a: 1rem;">
      {%- render 'icon', icon: block.settings.icon, size: block.settings.icon_size -%}<span>{{block.settings.text}}</span>
    </span>
  </div>
{% comment %} [END block.markup] {% endcomment %}

{% comment %} [START block.preset] {% endcomment %}
{% schema %}
{
  "name": "Marquee text",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "icon",
      "label": "t:settings_schema.global.settings.icon.label",
      "default": "none",
      "options": [
        {
          "value": "none",
          "label": "t:settings_schema.global.settings.icon.options__1.label"
        },
        {
          "value": "lightning",
          "label": "t:settings_schema.global.settings.icon.options__2.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "icon_size",
      "options": [
        {
          "value": "xs",
          "label": "t:settings_schema.global.settings.icon_size.options__1.label"
        },
        {
          "value": "s",
          "label": "t:settings_schema.global.settings.icon_size.options__2.label"
        },
        {
          "value": "m",
          "label": "t:settings_schema.global.settings.icon_size.options__3.label"
        },
        {
          "value": "l",
          "label": "t:settings_schema.global.settings.icon_size.options__4.label"
        },
        {
          "value": "xl",
          "label": "t:settings_schema.global.settings.icon_size.options__5.label"
        }
      ],
      "default": "xs",
      "label": "t:settings_schema.global.settings.icon_size.label"
    },
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "Text",
      "default": "Welcome to our store"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:settings_schema.typography.settings.body_size.label",
      "info": "t:settings_schema.typography.settings.body_size.info",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "3xl",
          "label": "t:settings_schema.typography.settings.body_size.options__1.label"
        },
        {
          "value": "2xl",
          "label": "t:settings_schema.typography.settings.body_size.options__2.label"
        },
        {
          "value": "xl",
          "label": "t:settings_schema.typography.settings.body_size.options__3.label"
        },
        {
          "value": "l",
          "label": "t:settings_schema.typography.settings.body_size.options__4.label"
        },
        {
          "value": "m",
          "label": "t:settings_schema.typography.settings.body_size.options__5.label"
        },
        {
          "value": "s",
          "label": "t:settings_schema.typography.settings.body_size.options__6.label"
        },
        {
          "value": "xs",
          "label": "t:settings_schema.typography.settings.body_size.options__7.label"
        },
        {
          "value": "xxs",
          "label": "t:settings_schema.typography.settings.body_size.options__8.label"
        }
      ],
      "default": "default"
    }
  ],
  "presets": [
    { "name": "Marquee text" }
  ]
}
{% endschema %}
{% comment %} [END block.preset {% endcomment %}