<div class="parallax-scroll-list flex whitespace-nowrap" data-direction="{{ block.settings.scroll_direction }}" {{ block.shopify_attributes }}>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Scrolling row",
  "blocks": [
    { "type": "scrolling-item" }
  ],
  "settings": [
    {
      "type": "select",
      "id": "scroll_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "left",
          "label": "t:settings.left"
        },
         {
          "value": "right",
          "label": "t:settings.right"
        }
      ],
      "default": "left"
    },
  ],
  "presets": [
    {
      "name": "Scrolling row",
    }
  ]
}
{% endschema %}
