<div class="header-mobile mobile--multi-tab">
  <div class="header-mobile-content">
    <header-mobile-tabs>
      <div class="tabs-product-header flex overflow-x-a">
      </div>

      {%- content_for 'blocks' -%}
    </header-mobile-tabs>
  </div>
</div>



{% stylesheet %}

{% endstylesheet %}

{% schema %}
{
  "name": "Header mobile multi-tab",
  "blocks": [
    {
      "type": "_menu_tab"
    }
  ],
  "settings": [],
  "presets": [
    {
      "name": "Header mobile multi-tab"
    }
  ]
}
{% endschema %}