<sideshow-component
  id="slideshow-{{ section.id }}"
  class="slideshow slideshow--{{ section.settings.slide_height }}"
  data-active-slide="0"
  data-slide-autoplay="{{ section.settings.autoplay }}"
  {% if section.settings.autoplay %}
    aria-live="polite"
    data-autoplay-speed="{{ section.settings.autoplay_speed }}"
  {% endif %}
>
  <div class="slideshow__slides">
    {% content_for 'blocks' %}
  </div>

  {% if section.blocks.size > 1 %}
  {% endif %}
</sideshow-component>

{% schema %}
{
  "name": "Slideshow",
  "class": "section--has-background",
  "settings": [
    {
      "type": "header",
      "content": "Slideshow height"
    },
    {
      "type": "select",
      "id": "slide_height",
      "options": [
        {
          "value": "adapt_image",
          "label": "Adapt to first image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        }
      ],
      "default": "medium",
      "label": "Slide height"
    },
    {
      "type": "header",
      "content": "Slideshow style"
    },
    {
      "type": "checkbox",
      "id": "autoplay",
      "label": "Autoplay",
      "default": false
    },
    {
      "type": "range",
      "id": "autoplay_speed",
      "label": "Autoplay speed",
      "min": 3,
      "max": 7,
      "step": 1,
      "unit": "s",
      "default": 5
    }
  ]
}
{% endschema %}
