@keyframes marquee-rtl {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.marquee-animate-rtl {
  -webkit-animation: marquee-rtl var(--marquee-duration) linear infinite;
  animation: marquee-rtl var(--marquee-duration) linear infinite;
}
.marquee-animate {
  -webkit-animation: marquee var(--marquee-duration) linear infinite;
  animation: marquee var(--marquee-duration) linear infinite;
}
.marquee-list:hover .marquee-scroll {
  animation-play-state: paused;
}
.title-wrapper-marquee:hover .title-marquee {
  animation-play-state: paused;
}