@keyframes marquee-rtl {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes marquee {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.marquee-animate-rtl {
  -webkit-animation: marquee-rtl var(--marquee-duration) linear infinite;
  animation: marquee-rtl var(--marquee-duration) linear infinite;
}
.marquee-animate {
  -webkit-animation: marquee var(--marquee-duration) linear infinite;
  animation: marquee var(--marquee-duration) linear infinite;
}
.marquee-list:hover .marquee-scroll {
  animation-play-state: paused;
}
.title-wrapper-marquee:hover .title-marquee {
  animation-play-state: paused;
}

@keyframes search-element-slide-up {
  from {
    opacity: 0;
    transform: translateY(.8rem);
  }

  to {
    opacity: 1;
    transform: translateY(0rem);
  }
}

@keyframes search-element-slide-up-heading {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}