.justify-left {
    justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
}

.swiper-wrapper[style*="--card-grid-per-row-mobile"] > * {
    --card-grid-per-row: var(--card-grid-per-row-mobile);
}

.resource-list--grid {
    display: grid;
    gap: var(--resource-list-row-gap) var(--resource-list-column-gap);
    grid-template-columns: var(--resource-list-columns-mobile);
}

.section-resource-list {
    gap: var(--gap) 0;
}

@media (min-width: 750px) {
    .swiper-wrapper[style*="--card-grid-per-row-tablet"] > * {
        --card-grid-per-row: var(--card-grid-per-row-tablet);
    }

    .resource-list--grid {
        grid-template-columns: var(--resource-list-columns);
    }
}

@media (min-width: 1025px) {
    .swiper-wrapper[style*="--card-grid-per-row-desktop"] > * {
        --card-grid-per-row: var(--card-grid-per-row-desktop);
    }
}

@media screen and (max-width: 749px) {
    .layout-panel-flex {
        flex-direction: var(--flex-direction-mobile);
    }
}