.media > *:not(.zoom):not(.deferred-media__poster-icon) {
  display: block;
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* swiper-component */
.swiper {
  --swiper-navigation-sides-offset: 0;
  --swiper-navigation-size: 3.6rem;
  --swiper-navigation-top-offset: 50%;

  &.product-slider {
    --swiper-navigation-top-offset: calc(50% - 7rem);
  }

  .swiper-pagination {
    --swiper-pagination-bullet-inactive-color: var(--pagination-color);
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-size: 1rem;
    --swiper-pagination-color: var(--pagination-active-color);
    --swiper-pagination-bullet-horizontal-gap: 0.7rem;
  }

  .swiper-pagination-fraction {
    --swiper-pagination-fraction-color: var(--pagination-color);
  }
}

.swiper-slide {
  overflow: hidden;
}

.swiper-pagination--outlined {
  .swiper-pagination-bullet {
    --outline: var(--swiper-pagination-bullet-inactive-color);
    border: 1px solid var(--outline);
    &:not(.swiper-pagination-bullet-active) {
      background: transparent;
    }
  }

  .swiper-pagination-bullet-active {
    --outline: var(--swiper-pagination-color);
  }
}

.section--page-width .swiper:has(.swiper-button) {
  --swiper-navigation-sides-offset: calc(var(--button-width) * -0.5);
  padding-inline: calc(var(--swiper-navigation-sides-offset) * -1);
  margin-inline: var(--swiper-navigation-sides-offset);

  .swiper-button {
    --swiper-navigation-sides-offset: 0.1rem;
  }

  &.swiper-watch-progress .swiper-slide:not(.swiper-slide-visible) {
    opacity: 0 !important;
    transition: var(--animation-speed-slow) var(--animation-timing-fade-in);
  }
}

.swiper-button {
  border-radius: var(--arrow-radius);
  transition: opacity var(--animation-speed-slow) var(--cubic-fast),
    transform var(--animation-speed-slow) var(--cubic-fast);

  &.swiper-button-prev,
  &.swiper-button-next {
    --button-width: max(3.6rem, calc(var(--arrow-width) * 0.5));
    --button-height: max(3.6rem, calc(var(--arrow-height) * 0.5));
    --button-icon-size: max(1.2rem, calc(var(--arrow-icon-size) * 0.5));
    color: var(--arrow-color);
    background-color: var(--arrow-background);
    border: var(--arrow-border-thickness) solid var(--arrow-border-color);
    width: var(--button-width);
    height: var(--button-height);

    .section--full-width & {
      --swiper-navigation-sides-offset: 2rem;
    }

    &.swiper-button-disabled {
      opacity: 0;
    }

    &:active {
      transform: scale(0.9);
    }

    @media screen and (width >= 750px) {
      --button-width: max(4rem, calc(var(--arrow-width) * 0.75));
      --button-height: max(4rem, calc(var(--arrow-height) * 0.75));
      --button-icon-size: max(1.4rem, calc(var(--arrow-icon-size) * 0.75));
    }

    @media screen and (min-width: 1280px) {
      --button-width: var(--arrow-width);
      --button-height: var(--arrow-height);
      --button-icon-size: var(--arrow-icon-size);
    }
  }

  .svg-wrapper {
    width: auto;
    height: auto;
  }

  .icon {
    width: var(--button-icon-size);
    height: var(--button-icon-size);
  }

  @media screen and (width > 1024px) {
    opacity: 0;
    &.swiper-button-prev {
      transform: translateX(0.5rem);
    }

    &.swiper-button-next {
      transform: translateX(-0.5rem);
    }

    .swiper:hover & {
      &:not(.swiper-button-disabled) {
        opacity: 1;
      }

      &.swiper-button-prev,
      &.swiper-button-next {
        transform: translateX(0);
      }

      &:active {
        transform: translateX(0) scale(0.9);
      }
    }
  }
}
/* spacing-style */
.spacing-style,
.inherit-spacing {
  padding-block: calc(
      var(--padding-block-start) + var(--section-top-offset, 0px)
    )
    var(--padding-block-end);
  padding-inline: var(--padding-inline-start) var(--padding-inline-end);
  margin-block: var(--margin-block-start) var(--margin-block-end);
  margin-inline: var(--margin-inline-start) var(--margin-inline-end);

  @media (max-width: 749px) {
    padding-block: calc(
        var(--padding-block-start-mobile, var(--padding-block-start)) +
          var(--section-top-offset, 0px)
      )
      var(--padding-block-end-mobile, var(--padding-block-end));
    padding-inline: var(
        --padding-inline-start-mobile,
        var(--padding-inline-start)
      )
      var(--padding-inline-end-mobile, var(--padding-inline-end));
    margin-block: var(--margin-block-start-mobile, var(--margin-block-start))
      var(--margin-block-end-mobile, var(--margin-block-end));
    margin-inline: var(--margin-inline-start-mobile, var(--margin-inline-start))
      var(--margin-inline-end-mobile, var(--margin-inline-end));
  }
}

/* Base text and heading styles */
.paragraph:not(.button),
.paragraph > * {
  font-family: var(--font-body--family);
  font-style: var(--font-body--style);
  font-weight: var(--font-body--weight);
  font-size: var(--font-body--size);
  line-height: var(--font-body--line-height);
  text-transform: var(--font-body--case);
  -webkit-font-smoothing: antialiased;
  color: var(--color, var(--color-foreground));
}

.paragraph > small {
  font-size: smaller;
}

.body-xxs-font-size,
.body-l-font-size,
.body-s-font-size,
.body-xxs-font-size {
  line-height: var(--line-height--body-normal); /* 1.4 */
}

.body-3xl-font-size,
.body-2xl-font-size,
.body-xl-font-size,
.body-m-font-size,
.body-xs-font-size {
  line-height: var(--line-height--body-medium); /* 1.5 */
}

h1,
.h1,
.text-block.h1 > * {
  font-size: var(--font-size--h1);
  letter-spacing: var(--font-h1--letter-spacing);
  text-transform: var(--text-transform--h1);
  line-height: var(--font-h1--line-height);
}

h2,
.h2,
.text-block.h2 > * {
  font-size: var(--font-size--h2);
  letter-spacing: var(--font-h2--letter-spacing);
  text-transform: var(--text-transform--h2);
  line-height: var(--font-h2--line-height);
}

h3,
.h3,
.text-block.h3 > * {
  font-size: var(--font-size--h3);
  letter-spacing: var(--font-h3--letter-spacing);
  text-transform: var(--text-transform--h3);
  line-height: var(--font-h3--line-height);
}

h4,
.h4,
.text-block.h4 > * {
  font-size: var(--font-size--h4);
  letter-spacing: var(--font-h4--letter-spacing);
  text-transform: var(--text-transform--h4);
  line-height: var(--font-h4--line-height);
}

h5,
.h5,
.text-block.h5 > * {
  font-size: var(--font-size--h5);
  letter-spacing: var(--font-h5--letter-spacing);
  text-transform: var(--text-transform--h5);
  line-height: var(--font-h5--line-height);
}

h6,
.h6,
.text-block.h6 > * {
  font-size: var(--font-size--h6);
  letter-spacing: var(--font-h6--letter-spacing);
  text-transform: var(--text-transform--h6);
  line-height: var(--font-h6--line-height);
}

/* Custom Typography style */
.custom-typography,
.custom-typography > *,
.custom-typography.heading-border--solid .text > * {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  text-transform: var(--text-transform);
  text-wrap: var(--text-wrap);
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
}

.custom-font-size,
.custom-font-size > *,
.custom-font-size.heading-border--solid .text > * {
  font-size: var(--font-size);
}

.custom-font-weight,
.custom-font-weight > *,
.custom-font-weight.heading-border--solid .text > * {
  font-weight: var(--weight);
}

/* Border override style */
.border-style {
  border-width: var(--border-width);
  border-style: var(--border-style);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
}

/* box-shadow-style */
.shadow-style {
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset)
    var(--shadow-blur) var(--shadow-spread-radius, 0px)
    color-mix(in srgb, var(--shadow-color), transparent var(--shadow-opacity));
}

/* START: Display Srollbar */
.disable-srollbar::-webkit-scrollbar {
  display: none;
}

.disable-srollbar::-webkit-scrollbar-track {
  display: none;
}

.disable-srollbar::-webkit-scrollbar-thumb {
  display: none;
}

.disable-srollbar::-webkit-scrollbar-thumb:hover {
  display: none;
}
/* END: Display Srollbar */

/* Base group-block */
.group-block,
.group-block-content {
  position: relative;
}

.group-block:has(> video-background-component),
.group-block:has(> .background-image-container) {
  overflow: hidden;
}

.group-block-content {
  height: 100%;
  width: 100%;
}

/* Appearance */
.background-image-container {
  overflow: hidden;
  position: absolute;
  inset: 0;
  opacity: var(--image-opacity);
}

.background-image-container img,
.background-image-container svg {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.background-image-fit img,
.background-image-fit svg {
  object-fit: contain;
}

/* Base styles */
.group-block:has(> video-background-component),
.group-block:has(> .background-image-container) {
  overflow: hidden;
}

/* Dimension utilities - Height */
.group-block--height-fit {
  height: auto;
}

.group-block--height-custom,
.group-block--height-fill {
  height: var(--size-style-height);
}

/* Flex behavior for height variants */
.layout-panel-flex--column > .group-block--height-fit {
  flex: 0 1 auto;
}

.layout-panel-flex--column > .group-block--height-fill {
  flex: 1;
}

.layout-panel-flex--column > .group-block--height-custom {
  flex-basis: var(--size-style-height);
}
