/* Mint update: Add style for pagination progressbar left */
.swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar--left, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar--left {
  left: var(--swiper-pagination-progressbar-left, 0) !important; 
}

@media (max-width: 1024px) {
  .swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar--left, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar--left {
    left:  calc(var(--swiper-pagination-progressbar-left) * 0.75); 
  }
}

@media (max-width: 749px) {
  .swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar--left, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar--left {
    left:  calc(var(--swiper-pagination-progressbar-left) * 0.5); 
  }
}