.swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar--left, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar--left {
  left: var(--swiper-pagination-progressbar-left, 0) !important; 
}

@media (max-width: 1024px) {
  .swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar--left, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar--left {
    left:  calc(var(--swiper-pagination-progressbar-left) * 0.75); 
  }
}

@media (max-width: 749px) {
  .swiper-horizontal>.swiper-pagination-progressbar.swiper-pagination-progressbar--left, .swiper-pagination-progressbar.swiper-pagination-horizontal.swiper-pagination-progressbar--left {
    left:  calc(var(--swiper-pagination-progressbar-left) * 0.5); 
  }
}

.link {
  font-style: var(--font-style);
}

.price-item--sale {
  color: var(--sale-price-color);
}

.text-clamp-style .link--hover-underline{
  --lineHeight : calc(var(--font-body--line-height) * var(--font-body--size));
  --row: var(--text-clamp);
  height: calc(var(--lineHeight) * var(--row));
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: var(--row);
  -webkit-box-orient: vertical;
}