.justify-left {
    justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
}

.button {
    max-width: 100%;
}

.swiper-wrapper[style*="--card-grid-per-row-mobile"] > * {
    --card-grid-per-row: var(--card-grid-per-row-mobile);
}

@media (min-width: 750px) {
    .swiper-wrapper[style*="--card-grid-per-row-tablet"] > * {
        --card-grid-per-row: var(--card-grid-per-row-tablet);
    }
}

@media (min-width: 1025px) {
    .swiper-wrapper[style*="--card-grid-per-row-desktop"] > * {
        --card-grid-per-row: var(--card-grid-per-row-desktop);
    }
}