.justify-left {
    justify-content: flex-start;
}

.justify-right {
    justify-content: flex-end;
}

.swiper-wrapper[style*="--card-grid-per-row-mobile"] > * {
    --card-grid-per-row: var(--card-grid-per-row-mobile);
}

.resource-list--grid {
    display: grid;
    gap: var(--resource-list-row-gap) var(--resource-list-column-gap);
    grid-template-columns: var(--resource-list-columns-mobile);
}

.section-resource-list {
    gap: var(--gap) 0;
}

.form-input{
    font-size: var(--font-body--size);
    line-height: var(--font-body--line-height);
    font-family: var(--font-body--family);
    font-style: var(--font-body--style);
    font-weight: var(--font-body--weight);
    width: 100%;
    border: 1px solid var(--color-input-border);
    padding: 15px 10px;
}

.swiper:has(.swiper-pagination.swiper-pagination-bullets){
    padding-bottom: calc( var(--dots-top-offset, 4rem) + (var(--font-body--size) * var(--font-body--line-height)));
}

.swiper .swiper-pagination.swiper-pagination-progressbar{
    margin-top: var(--progress-top-offset, 4rem);
}

.swiper .swiper-pagination.swiper-pagination-bullets:not(.swiper-pagination-bullets-dynamic),
.swiper .swiper-pagination.swiper-pagination-progressbar{
    bottom: 0;
}

.section:has(parallax-element){
    z-index: 2;
}

.cart-count-bubble{
    top: 0;
    left: calc(50% + 12px);
    right: 0;
    transform: translateX(-50%);
}

.card-hover--lift .product-grid-item:has(.card--block-media.border-style),
.card-hover--lift .product-grid__item:has(.card--block-media.border-style){
    padding-top: 4px;
}

@media (min-width: 750px) {
    .swiper-wrapper[style*="--card-grid-per-row-tablet"] > * {
        --card-grid-per-row: var(--card-grid-per-row-tablet);
    }

    .resource-list--grid {
        grid-template-columns: var(--resource-list-columns);
    }
    
    .section-footer summary.menu__heading:hover{
        background-color: transparent;
    }
}

@media (min-width: 1025px) {
    .swiper-wrapper[style*="--card-grid-per-row-desktop"] > * {
        --card-grid-per-row: var(--card-grid-per-row-desktop);
    }
}

@media screen and (max-width: 749px) {
    .layout-panel-flex {
        flex-direction: var(--flex-direction-mobile);
    }

    .menu:not(:has(.menu__heading--empty)) .details-content > ul{
        padding-block-start: 0;
    }

    .menu--accordion .menu__details .menu__heading{
        border-bottom: 1px solid;
    }
}

.tabs-header {
    flex: 1;
    max-width: var(--tabs_header_max_width);
}

.tabs-product-header-wrapper {
    width: 100%;
    max-width: 100%;
}

.tabs-product-header-wrapper .tabs-product-header {
    overflow: auto;
    max-width: 100%;
}

.tabs-product-header-wrapper .tabs-product-header .tabs-product-header__item {
    white-space: nowrap;
    min-width: fit-content;
}

.swiper.swiper-vertical .swiper-button{
    width: var(--button-height);
    height: var(--button-width);
}