/* swatch lives in its own file for reusability of the swatch in swatch-input and dropdown */
.swatch-item {
  --swatch--border-radius: var(--swatch-input--border-radius, 50%);
  --swatch--size: var(--swatch-input--size, 4.4rem);

  border: 0.1rem solid rgba(var(--color-foreground), 0.15);
  border-radius: var(--swatch--border-radius);
  padding: .2rem;
  box-shadow: var(--variant-pills-shadow-horizontal-offset) var(--variant-pills-shadow-vertical-offset) var(--variant-pills-shadow-blur-radius) rgba(var(--color-shadow),var(--variant-pills-shadow-opacity));
}

.swatch {
  cursor: pointer;
  display: block;
  width: var(--swatch--size);
  max-width: 100%;
  aspect-ratio: 1 / 1;
  background-color: var(--swatch--background-color);
  background-image: var(--swatch--background);
  background-position: var(--swatch-focal-point, initial);
  background-size: cover;
  background-origin: border-box;
  border-radius: var(--swatch--border-radius);
}

.swatch-item:has(.swatch--unavailable) {
  border-style: dashed;
  border-color: color-mix(in srgb, var(--color-foreground), transparent 50%);
}