.localization-form {
  display: flex;
  flex-direction: column;
  flex: auto 1 0;
  padding: 1rem;
  margin: 0 auto;

  &.localization-form--language {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    margin: 0;
  }
}

.localization-form:only-child {
  display: inline-flex;
}

.localization-form:only-child .button,
.localization-form:only-child
  .localization-form__select:not(.localization-form__select--icon) {
  margin: 1rem 1rem 0.5rem;
  flex-grow: 1;
}

@media screen and (min-width: 750px) {
  .localization-form:only-child .button,
  .localization-form:only-child
    .localization-form__select:not(.localization-form__select--icon) {
    margin: 0;
  }
}

@media screen and (min-width: 1025px) {
  .localization-form:only-child {
    margin: 0 1rem 0 0;
  }
}

.localization-form .button:not(.menu-drawer__back-button) {
  padding: 1rem;
}

@media screen and (max-width: 749px) {
  .localization-form .button:not(.menu-drawer__back-button) {
    word-break: break-all;
  }
}

.localization-form__select:not(.localization-form__select--icon) {
  border-radius: var(--inputs-radius-outset);
  position: relative;
  margin-bottom: 1.5rem;
  padding-left: 1rem;
  text-align: left;
  min-height: calc(4rem + var(--localization-border-width) * 2);
  min-width: calc(7rem + var(--localization-border-width) * 2);
}

.disclosure__button.localization-form__select:not(
    .localization-form__select--icon
  ) {
  padding: calc(2rem + var(--localization-border-width));
  background: var(--color-background);
}

.localization-form__select:not(.localization-form__select--icon) .icon-caret {
  position: absolute;
  content: "";
  height: 0.6rem;
  right: calc(var(--localization-border-width) + 1.5rem);
  top: calc(50% - 0.2rem);
  transition: transform var(--duration-medium) ease-out;
}

.localization-selector.link:not(.disclosure__button) {
  text-decoration: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: var(--color-foreground);
  width: 100%;
  padding-right: 4rem;
  padding-bottom: 1.5rem;
}

.disclosure .localization-form__select:not(.localization-form__select--icon) {
  padding-top: 1.5rem;
}

.localization-selector option {
  color: #000000;
}

.localization-selector + .disclosure__list-wrapper {
  opacity: var(--opacity-100);
}

.disclosure {
  position: relative;
}

.disclosure__button:not(.localization-form__select--icon) {
  align-items: center;
  cursor: pointer;
  display: flex;
  gap: 0.5rem;
  height: 4rem;
  padding: 0 1.5rem 0 1.5rem;
  font-size: 1.3rem;
  background-color: transparent;
}

.disclosure__list-wrapper {
  border-width: var(--style-border-width-popover);
  border-style: solid;
  border-color: var(--color-foreground);
  overflow: hidden;
  position: absolute;
  bottom: 100%;
  z-index: 2;
  background: var(--color-background);
  border-radius: var(--style-border-radius-popover);
  box-shadow: var(--style-shadow-popover);
  max-height: 27.5rem;
  transform: translate3d(0, 100%, 0);
}

@media screen and (min-width: 750px) {
  .disclosure__list-wrapper {
    opacity: var(--opacity-0);
    visibility: hidden;
    transform: translateY(0);
    transition-property: opacity, transform;
    transition-duration: var(--duration-medium);
    transition-timing-function: var(--cubic-smooth);
  }

  .selector__dropdown.active .disclosure__list-wrapper {
    opacity: var(--opacity-100);
    visibility: visible;
    transform: translateY(-0.4rem);
  }
}

.disclosure__list {
  position: relative;
  overflow-y: auto;
  font-size: 1.4rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  scroll-padding: 0.5rem 0;
  max-height: 20.5rem;
  min-width: 12rem;
  width: max-content;
}

.country-selector__list {
  padding-bottom: 0.95rem;
  padding-top: 0;
}

.country-selector__list--with-multiple-currencies {
  width: 24rem;
}

.selector__close-button {
  display: none;
}

.country-filter,
.language-filler {
  gap: 0.5rem;
  padding: var(--padding-sm) var(--padding-xs) var(--padding-xs);
}

.country-filter__reset-button,
.country-filter__search-icon {
  right: calc(var(--localization-border-width));
  top: var(--localization-border-width);
}

.country-filter__reset-button:not(:focus-visible)::after,
.country-filter__reset-button:not(:focus)::after {
  display: block;
  height: calc(100% - 1.8rem);
  content: "";
  position: absolute;
  right: 0;
}

.country-filter__reset-button:focus,
.country-filter__reset-button:focus-visible {
  background: var(--color-background);
  z-index: 4;
}

.country-filter__reset-button:not(:focus-visible):not(.focused) {
  box-shadow: inherit;
  background-color: inherit;
}

.country-filter__reset-button:hover .icon {
  transform: scale(1.07);
}

.country-filter__reset-button .icon.icon-close,
.country-filter__search-icon .icon {
  height: 1.8rem;
  width: 1.8rem;
  stroke-width: 0.1rem;
}

.country-filter__search-icon {
  transition: opacity var(--duration-short) ease,
    visibility var(--duration-short) ease;
  opacity: var(--opacity-100);
  visibility: visible;
  pointer-events: none;
  cursor: text;
}

.country-filter__search-icon--hidden {
  opacity: var(--opacity-0);
  visibility: hidden;
}

@media screen and (max-width: 749px) {
  .disclosure__list-wrapper.disclosure-selector {
    position: fixed;
    bottom: -1rem;
    left: 0;
    width: 100%;
    max-height: calc(100% - 20vh);
    border-radius: 0;
    border: none;
    box-shadow: none;
    z-index: 4;
  }

  .disclosure__list.country-selector__list,
  .disclosure__list.language-selector__list {
    max-height: 85%;
    min-width: 100%;
    margin-bottom: 0;
    padding-bottom: 4rem;
    z-index: 5;
  }

  .selector__close-button.link,
  .selector__close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem;
    background-color: transparent;
    height: 4.4rem;
    width: 4.4rem;
  }

  .selector__close-button .icon {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (min-width: 750px) {
  .country-filter--no-padding,
  .language-filler.p-0 {
    padding: 0;
  }
}

.countries {
  padding-top: 0.6rem;
}

.popular-countries {
  border-bottom: 1px solid rgb(var(--color-foreground-rgb) / var(--opacity-20));
  padding-bottom: 0.6rem;
  padding-top: 0.6rem;
}

.disclosure__item {
  position: relative;
}

.disclosure__link {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0.5rem;
  padding: var(--padding-xs) var(--padding-sm);
  text-decoration: none;
  color: rgb(var(--color-foreground-rgb) / var(--opacity-75));
  word-break: break-word;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: var(--menu-localization-font-size);
  font-family: var(--menu-localization-font);
  transition: text-decoration-color var(--animation-speed) var(--animation-easing),
  color var(--animation-speed) var(--animation-easing), background var(--animation-speed) var(--animation-easing);
}

.disclosure__link:hover {
  color: var(--color-foreground);
  background: rgb(var(--color-foreground-rgb) / var(--opacity-8));
}

.disclosure__link .icon-checkmark {
  width: 1rem;
  margin-right: 0.2rem;
}

.disclosure__link .country {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.disclosure__button[aria-expanded="true"] .icon-caret {
  transform: rotatex(180deg);
}

/* Header localization */
.header-localization .localization-form:only-child {
  margin: 0;
}

.header-localization
  .disclosure
  .localization-form__select:not(.localization-form__select--icon) {
  font-size: var(--menu-localization-font-size);
  letter-spacing: var(--letter-spacing--body-loose);
  font-family: var(--menu-localization-font);
  height: auto;
  min-height: initial;
  background: transparent;
}

.header-localization
  .disclosure
  .localization-form__select:not(.localization-form__select--icon):hover {
  text-decoration: underline;
}

.header-localization
  .localization-form__select:not(.localization-form__select--icon).link:after,
.header-localization
  .localization-form__select:not(.localization-form__select--icon).link:before {
  box-shadow: none;
}

.header-localization
  .localization-form__select:not(
    .localization-form__select--icon
  ).link:focus-visible {
  outline: 0.2rem solid rgb(var(--color-foreground-rgb) / var(--opacity-50));
  outline-offset: -0.2rem;
  box-shadow: 0 0 0.2rem 0 rgb(var(--color-foreground-rgb) / var(--opacity-30));
}

/* Header icons */
.desktop-localization-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.desktop-localization-wrapper .localization-form:only-child {
  padding: 0;
}

.header-localization:not(.menu-drawer__localization) {
  align-items: center;
}

.header-localization:not(.menu-drawer__localization)
  .localization-form__select:not(.localization-form__select--icon) {
  width: max-content;
  height: var(--size-38);
}

.header-localization:not(.menu-drawer__localization)
  .localization-form__select:not(.localization-form__select--icon):not(
    :has(.icon-caret)
  ) {
  padding: 0 var(--padding-xs) 0 0;
  min-width: initial;
}

.header-localization:not(.menu-drawer__localization)
  .localization-form__select:not(.localization-form__select--icon):has(
    .icon-caret
  ) {
  padding: 0 var(--padding-3xl) 0 var(--padding-md);
}

.header-localization:not(.menu-drawer__localization)
  .localization-form:only-child
  .localization-form__select:not(.localization-form__select--icon) {
  margin: 0;
}

.header-localization:not(
    .menu-drawer__localization
  ).localization-form__select:not(.localization-form__select--icon)
  > span {
  max-width: 20ch;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.header-localization:not(.menu-drawer__localization)
  localization-form:only-child
  .localization-form__select:not(.localization-form__select--icon)
  > span {
  max-width: 26ch;
}

.header-localization:not(.menu-drawer__localization)
  .localization-form__select:not(.localization-form__select--icon)
  .icon-caret {
  right: 0.8rem;
  min-height: unset;
}

.header-localization .country-filter__input:focus{
  padding: 0 1.5rem;
  margin: 0;
}

@media screen and (min-width: 750px) {
  .header-localization:not(.menu-drawer__localization)
    .disclosure__list-wrapper {
    bottom: initial;
    top: 100%;
    right: 0;
    opacity: var(--opacity-0);
    visibility: hidden;
    transform: translateY(0.4rem);
  }

  .header-localization:not(.menu-drawer__localization)
    .selector__dropdown.active
    .disclosure__list-wrapper {
    opacity: var(--opacity-100);
    visibility: visible;
    transform: translateY(0);
  }
}

/* Menu drawer */
.menu-drawer__localization localization-form {
  display: block;
}

.menu-drawer__localization
  .localization-form__select:not(.localization-form__select--icon) {
  background-color: initial;
  margin-top: 0;
  padding: 1rem 3.6rem 1rem 0rem;
}

.menu-drawer__localization .localization-form {
  padding: 0;
}

.menu-drawer__localization
  .localization-form:only-child
  .localization-form__select:not(.localization-form__select--icon) {
  margin: 0;
}

.menu-drawer__localization + .list-social {
  margin-top: 1rem;
}
