.discounts {
  font-size: var(--font-size--2xs);
  margin-bottom: var(--margin-xs);
}

.discounts__discount {
  display: flex;
  align-items: center;
}

.discounts__discount svg {
  color: var(--color-primary-button-background);
}

.discounts__discount--position {
  justify-content: center;
}

@media screen and (min-width: 750px) {
  .discounts__discount--position {
    justify-content: flex-end;
  }
}

.discounts__discount > .svg-wrapper {
  color: var(--color-foreground);
  width: var(--size-16);
  height: var(--size-16);
  margin-right: 0.7rem;
}
