.list-social__item .icon {
  height: 2.2rem;
  width: 2.2rem;
}

.list-social__link {
  align-items: center;
  display: flex;
  color: var(--color-foreground);
}

.utility-bar .list-social__link {
  padding: 0 0.8rem;
  height: 3.8rem;
}

.list-social--custom {
  .list-social__link {
    width: 3.6rem;
    height: 3.6rem;
    border-radius: 50%;
    background-color: var(--color-foreground);
    color: #ffffff;
    border: 1px solid var(--color-foreground);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    
    &:hover {
      background-color: #ffffff;
      color: var(--color-foreground);
      border-color: var(--color-foreground);
    }
  }
}
