.card-countDown-wrapper {
    border-radius: 3rem;
}

.card-countDown-wrapper:has(:not(.is_show)) {
    opacity: var(--opacity-0);
}

.card-countDown-wrapper:has(.is_show) {
    opacity: var(--opacity-100);
}