/* Slides container */
.slideshow__slides:not(.swiper-wrapper) {
  display: grid;
  grid-template-areas: "slide";
  overflow: hidden;
}

/* Individual slides */
.slideshow__slide[aria-hidden="true"] {
  order: 0;
}
/* Slide content */
.slide__content > * {
  max-height: 100%;
}

.slide__image-container svg {
  width: 100%;
}

.slide__image-container img {
  object-fit: cover;
  height: 100%;
}
/* multi cate */
.slideshow--multicate .swiper-pagination {
  --swiper-pagination-bottom: 2rem;
}
