.mega-menu {
  position: static;
}
.mega-menu__content:not(:has(>.header__submenu-wrapper)) {
  background: var(--color-background);
  border: 0;
  border-radius: 0 0 1.6rem 1.6rem;
  left: 0;
  overflow-y: auto;
  padding-bottom: 0;
  padding-top: 2.4rem;
  position: absolute;
  right: 0;
  top: var(--top-position, 100%);
  margin-top: var(--margin-top);
  box-shadow: none;

  .page-width--full {
    padding-inline: var(--padding-4xl);
  }

  > .list-menu--wrapper {
    overflow-y: auto;
    padding-bottom: 3rem;
    max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);

    /* Mint fix vertical menu 05112025 */
    &:has(.mega-menu__collage-wrapper) {
      padding-bottom: 0;
    }
  }
}

.mega-menu__content:has(>.header__submenu-wrapper) {
  position: absolute;
  width: 20.8rem;
  border: 1px solid rgb(var(--color-foreground-rgb) / var(--opacity-20));
}

.shopify-section-header-sticky .mega-menu__content {
  max-height: calc(100vh - var(--header-bottom-position-desktop, 20rem) - 4rem);
}
.header-wrapper--border-bottom .mega-menu__content {
  border-top: 0;
}
.mega-menu__list {
  list-style: none;
  flex: 1 1 100%;
  padding: 0;
}
.header__mega-submenu ul li {
  margin-bottom: .4rem;
}

.collage__item--image {
  border: var(--border-width) solid var(--color-border);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.mega-menu__link {
  padding: 0;
  word-wrap: break-word;
}

.header__menu-item {
  line-height: var(--line-height--body-normal);
}

.header--top-center .mega-menu__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 0;
}
.header--top-center .mega-menu__list > li {
  width: 16%;
  padding-right: 2.4rem;
}
.mega-menu__list--condensed .mega-menu__link {
  font-weight: normal;
}

.mega-menu--1 {
  .mega-menu__collage {
    flex: 0 0 320px;
  }
  .mega-menu__right {
    flex: 0 0 272px;
    max-width: 272px;
  }
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    .mega-menu__container {
      --gap-x: 1.6rem !important;
      --gap-y: 1.6rem !important;
    }
    .mega-menu__collage {
      flex: 0 0 250px;
    }
    .mega-menu__right {
      flex: 0 0 250px;
      max-width: 250px;
    }
  } 
}

.mega-menu--2 {
  .mega-menu__collage {
    flex: 1 1 100%;
    @media screen and (min-width: 1024px) {
      .collage__item--1 {
        grid-row: 1 / 2;
      }
      .collage__item--2 {
        grid-row: 1 / 2;
      }

      .collage__item--3 {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
      }
    }
  }
  .mega-menu__list {
    flex: 0 0 220px;
  }
  .mega-menu__right {
    flex: 0 0 160px;
    max-width: 160px;
    color: var(--color-secondary-button-text);
    font-weight: 500;

    .svg-wrapper {
      color: var(--arrow-color);
      background-color: var(--arrow-background);
      &:hover {
        color: var(--arrow-color-hover);
        background-color: var(--arrow-background-hover);
      }
    }

    .social-title {
      font-size: 1.6rem;
      line-height: var(--line-height--body-relaxed);
      white-space: pre-line;
    }
    .copyright-title {
      font-size: 1.4rem;
      white-space: pre-line;
    }
  }
}

.mega-menu__content {
  .mega-menu__collage {
    .overlay-text {
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 127.34%);
      .text {
        font-weight: 500;
        font-size: 2.4rem;
        line-height: 1.3;
        letter-spacing: -0.02em;
        color: var(--color-primary);
        text-transform: capitalize;
      }
    }
  }
  .mega-menu__list {
    .header__menu-item.mega-menu__link--level-2 {
      color: var(--color-secondary-button-text);
      padding-left: 1.6rem;
      margin-bottom: 1.6rem;
    }
    .header__menu-item.mega-menu__link--level-3 {
      border-radius: 100px;
      min-width: 14rem;
      color: var(--color-primary-button-text);
      padding: 1.2rem 1.6rem;
      margin-bottom: 0.4rem;

      .icon {
        display: inline;
        opacity: 0;
        visibility: hidden;
        margin-left: auto;
        transform: translateX(-100%);
        transition: all .3s ease-in-out;
      }

      &:hover {
        background-color: var(--color-primary-button-hover-background);
        .icon {
          opacity: 1;
          transform: translateX(0%);
          visibility: visible;
        }
      }
    }
  }
  .mega-menu__submenu {
    .header__menu-item {
      color: var(--color-foreground);
      display: block;
    }
  }
}