.collection-hero__title + .collection-hero__description {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

@media screen and (min-width: 750px) {
  .collection-hero__title + .collection-hero__description {
    font-size: 1.8rem;
    margin-top: 2rem;
  }
}
