/* swatch lives in its own file for reusability of the swatch in swatch-input and dropdown */
.swatch-item {
  --swatch--border-radius: var(--variant-pills-radius, 50%);

  border: 0.1rem solid rgb(var(--color-foreground-rgb) / var(--opacity-15));
  border-radius: var(--swatch--border-radius);
  padding: 0.2rem;
  box-shadow: var(--variant-pills-shadow-horizontal-offset)
    var(--variant-pills-shadow-vertical-offset)
    var(--variant-pills-shadow-blur-radius)
    var(--color-shadow);

  &::after{
    content: '';
    position: absolute;
    inset: -.1rem;
    border: 0.1rem solid rgb(var(--color-foreground-rgb) / var(--opacity-100));
    border-radius: var(--swatch--border-radius);
    pointer-events: none;
    transform: scale(0.8);
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: var(--opacity-0);
  }

  &.active::after{
    transform: scale(1);
    opacity: var(--opacity-100);
  }
}

.swatch {
  --swatch--size: var(--swatch-input--size, 4.4rem);

  width: var(--swatch--size);
  aspect-ratio: 1 / 1;
  background-color: var(--swatch--background-color);
  background-image: var(--swatch--background);
  background-position: var(--swatch-focal-point, initial);
  background-size: cover;
  background-origin: border-box;
  border-radius: var(--swatch--border-radius);
}

.swatch-item:has(.swatch--unavailable) {
  border-style: dashed;
  border-color: rgb(var(--color-foreground-rgb) / var(--opacity-50));
}

.swatch-item .tooltip {
  display: none;
  color: #fff;
  background: #232323;
  padding: 0.5rem;
  min-width: 4rem;
  margin: 0 0 1rem;
  border-radius: 0.2rem;
  transition: opacity ease 0.3s;
}

.swatch-item .tooltip:before {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 1rem;
  height: 0;
  width: 0;
  border-top: 0.7rem solid #232323;
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  transform: translate(-50%);
}

@media (min-width: 1025px) {
  .swatch-item .tooltip {
    display: block;
    opacity: var(--opacity-0);
    visibility: hidden;
    pointer-events: none;
  }

  .swatch-item:hover .tooltip {
    opacity: var(--opacity-100);
    visibility: visible;
  }
}
