.halo-compareProduct {
    top: auto;
    bottom: 13.0rem;
    right: 3.0rem;
    pointer-events: auto;
    box-shadow: 0 .3rem .7rem 0 rgba(0,0,0,.2);
    opacity: 0;
    visibility: hidden;
}

.compareTable{
    border: .1rem solid #e6e6e6;
    border-collapse: collapse;
    table-layout: fixed;
}

.compareTable td,
.compareTable th{
    border: .1rem solid #e6e6e6;
    border-spacing: 0;
}

.compareTable-heading{
    padding: 1.7rem 1.5rem 1.3rem 1.5rem;
}

.compareTable-product{
    padding: 3.0rem;
    min-width: 25.0rem;
}

.compareTable-product .card{
    overflow: inherit;
}

.product-card-layout-08 .compareTable-product .card-product {
    overflow: visible;
}

.compareTable-item{
    padding: 1.25rem 1rem;
    min-width: 15.0rem;
}

.compareTable-item.compareTable-desc{
    min-width: 25.0rem;
}

.compareTable-removeProduct{
    top: -1.0rem;
    right: -1.0rem;
    width: 2.8rem;
    height: 2.8rem;
    padding: .7rem;
}

.compareTable-removeProduct svg{
    width: 100%;
    height: 100%;
    fill: var(--bg-white);
    stroke: transparent;
}

.compareTable-option + .compareTable-option{
    margin-top: 1.2rem;
}

.halo-compare-product-popup .halo-popup-wrapper{
	padding: 2.2rem 0 0 0;
}

.halo-compare-product-popup .halo-popup-wrapper .halo-compareProduct-content{
    padding-top: 0;
}

body.compare-product-show{
	overflow: hidden;
}

body.compare-product-show .background-overlay{
	opacity: 1;
    pointer-events: all;
    z-index: 101;
}

body.compare-product-show .halo-compare-product-popup {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

body.compare-product-show .popup__inner{
    opacity: 1;
    transform: translate(-50%, -50%);
    visibility: visible;
}

@media (min-width: 1025px) {
	.halo-compareProduct {
		display: block;
	}

	.halo-compareProduct.is-show{
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
	}
}