.list-menu--right {
  right: 0;
}

.list-menu--disclosure {
  position: absolute;
  min-width: 100%;
  width: 20rem;
  border: 1px solid rgb(var(--color-foreground-rgb) / var(--opacity-20));
}

.list-menu--disclosure:focus {
  outline: none;
}