.modal-video__content {
  width: 95%;
  padding: 1rem 0.5rem;
}

.modal-video__content-info {
  height: calc(100% - 10rem);
}

@media screen and (min-width: 750px) {
  .modal-video__content-info {
    height: calc(100% - 13rem);
  }
}

.modal-video__video,
.modal-video__video iframe {
  height: 100%;
  width: 100%;
}

.modal-video__video iframe {
  position: static;
  border: 0;
}
