/* swatch lives in its own file for reusability of the swatch in swatch-input and dropdown */
.swatch-item {
  --swatch--border-radius: var(--swatch-input--border-radius, 50%);
  --swatch--size: var(--swatch-input--size, 4.4rem);

  border: 0.1rem solid rgba(var(--color-foreground), 0.15);
  border-radius: var(--swatch--border-radius);
  padding: 0.2rem;
  box-shadow: var(--variant-pills-shadow-horizontal-offset)
    var(--variant-pills-shadow-vertical-offset)
    var(--variant-pills-shadow-blur-radius)
    rgba(var(--color-shadow), var(--variant-pills-shadow-opacity));
}

.swatch {
  width: var(--swatch--size);
  aspect-ratio: 1 / 1;
  background-color: var(--swatch--background-color);
  background-image: var(--swatch--background);
  background-position: var(--swatch-focal-point, initial);
  background-size: cover;
  background-origin: border-box;
  border-radius: var(--swatch--border-radius);
}

.swatch-item:has(.swatch--unavailable) {
  border-style: dashed;
  border-color: rgb(var(--color-foreground) / 0.5);
}

.swatch-item .tooltip {
  display: none;
  color: #fff;
  background: #232323;
  padding: 0.5rem;
  min-width: 4rem;
  transform: translate(-50%);
  margin: 0 0 1rem;
  border-radius: 0.2rem;
  transition: opacity ease 0.3s;
}

.swatch-item .tooltip:before {
  content: "";
  position: absolute;
  bottom: -0.4rem;
  left: 50%;
  height: 0;
  width: 0;
  border-top: 0.7rem solid #232323;
  border-left: 0.7rem solid transparent;
  border-right: 0.7rem solid transparent;
  transform: translate(-50%);
}

@media (min-width: 1025px) {
  .swatch-item .tooltip {
    display: block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .swatch-item:hover .tooltip {
    opacity: 1;
    visibility: visible;
  }
}
