.slideshow {
    .content-absolute-block {
        .group-block:has(.text-block),
        .group-block:has(.text-block) .overlay {
            border-bottom-left-radius: 0;
        }
    }
}

.media-withtext {
    .swiper-slide {
        .content-absolute-block:has(.image-block) .image-block {
            --size-style-width: 72px !important;
            --size-style-width-tablet: 72px !important;
            --size-style-width-mobile: 72px !important;
        } 
    }
}

.section-content-wrapper:has([class*="__instagram_item_"]),
.section-content-wrapper:has([class*="__instagram_item_"]) .swiper {
    overflow: visible;
}

.button.button-small {
    padding: 1.2rem 1.6rem;
    font-size: 1.4rem;
    line-height: var(--line-height--body-tight);
    font-weight: 400;
    background-color: #D54B37;
    color: #ffffff;
}

.button-secondary.button-smaller-medium {
    padding: 0.8rem 1.6rem;
    font-style: italic;
    line-height: var(--line-height--body-loose);
}