.icon-flag {
  width: 30px;
  height: 22.5px;
  flex-shrink: 0;
  background: image-set(url("./icon-flag.png") 1x, url("./icon-flag-2x.png") 2x) no-repeat center left;
}

.icon-flag--AD {
  background-position: 0 0;
}

.icon-flag--AE {
  background-position: -21px 0;
}

.icon-flag--AF {
  background-position: 0 -21px;
}

.icon-flag--African_nion {
  background-position: -21px -21px;
}

.icon-flag--AG {
  background-position: -42px 0;
}

.icon-flag--AI {
  background-position: -42px -21px;
}

.icon-flag--AL {
  background-position: 0 -42px;
}

.icon-flag--AM {
  background-position: -21px -42px;
}

.icon-flag--AMS {
  background-position: -42px -42px;
}

.icon-flag--AO {
  background-position: -63px 0;
}

.icon-flag--AQ {
  background-position: -63px -21px;
}

.icon-flag--AR {
  background-position: -63px -42px;
}

.icon-flag--AS {
  background-position: 0 -63px;
}

.icon-flag--AT {
  background-position: -21px -63px;
}

.icon-flag--AU {
  background-position: -42px -63px;
}

.icon-flag--AW {
  background-position: -63px -63px;
}

.icon-flag--AX {
  background-position: -84px 0;
}

.icon-flag--AZ {
  background-position: -84px -21px;
}

.icon-flag--BA {
  background-position: -84px -42px;
}

.icon-flag--BB {
  background-position: -84px -63px;
}

.icon-flag--BD {
  background-position: 0 -84px;
}

.icon-flag--BE {
  background-position: -21px -84px;
}

.icon-flag--BF {
  background-position: -42px -84px;
}

.icon-flag--BG {
  background-position: -63px -84px;
}

.icon-flag--BH {
  background-position: -84px -84px;
}

.icon-flag--BI {
  background-position: -105px 0;
}

.icon-flag--BJ {
  background-position: -105px -21px;
}

.icon-flag--BL {
  background-position: -105px -42px;
}

.icon-flag--BM {
  background-position: -105px -63px;
}

.icon-flag--BN {
  background-position: -105px -84px;
}

.icon-flag--BO {
  background-position: 0 -105px;
}

.icon-flag--BQ-BO {
  background-position: -21px -105px;
}

.icon-flag--BQ-SA {
  background-position: -42px -105px;
}

.icon-flag--BQ-SE {
  background-position: -63px -105px;
}

.icon-flag--BR {
  background-position: -84px -105px;
}

.icon-flag--BS {
  background-position: -105px -105px;
}

.icon-flag--BT {
  background-position: -126px 0;
}

.icon-flag--BV {
  background-position: -126px -21px;
}

.icon-flag--BW {
  background-position: -126px -42px;
}

.icon-flag--BY {
  background-position: -126px -63px;
}

.icon-flag--BZ {
  background-position: -126px -84px;
}

.icon-flag--CA {
  background-position: -126px -105px;
}

.icon-flag--CC {
  background-position: 0 -126px;
}

.icon-flag--CD {
  background-position: -21px -126px;
}

.icon-flag--CF {
  background-position: -42px -126px;
}

.icon-flag--CG {
  background-position: -63px -126px;
}

.icon-flag--CH {
  background-position: -84px -126px;
}

.icon-flag--CI {
  background-position: -105px -126px;
}

.icon-flag--CK {
  background-position: -126px -126px;
}

.icon-flag--CL {
  background-position: -147px 0;
}

.icon-flag--CM {
  background-position: -147px -21px;
}

.icon-flag--CN {
  background-position: -147px -42px;
}

.icon-flag--CO {
  background-position: -147px -63px;
}

.icon-flag--CR {
  background-position: -147px -84px;
}

.icon-flag--CU {
  background-position: -147px -105px;
}

.icon-flag--CV {
  background-position: -147px -126px;
}

.icon-flag--CW {
  background-position: 0 -147px;
}

.icon-flag--CX {
  background-position: -21px -147px;
}

.icon-flag--CY {
  background-position: -42px -147px;
}

.icon-flag--CZ {
  background-position: -63px -147px;
}

.icon-flag--DE {
  background-position: -84px -147px;
}

.icon-flag--DJ {
  background-position: -105px -147px;
}

.icon-flag--DK {
  background-position: -126px -147px;
}

.icon-flag--DM {
  background-position: -147px -147px;
}

.icon-flag--DO {
  background-position: -168px 0;
}

.icon-flag--DZ {
  background-position: -168px -21px;
}

.icon-flag--EC {
  background-position: -168px -42px;
}

.icon-flag--EE {
  background-position: -168px -63px;
}

.icon-flag--EG {
  background-position: -168px -84px;
}

.icon-flag--EH {
  background-position: -168px -105px;
}

.icon-flag--ER {
  background-position: -168px -126px;
}

.icon-flag--ES {
  background-position: -168px -147px;
}

.icon-flag--ET {
  background-position: 0 -168px;
}

.icon-flag--EUROPE {
  background-position: -21px -168px;
}

.icon-flag--FI {
  background-position: -42px -168px;
}

.icon-flag--FJ {
  background-position: -63px -168px;
}

.icon-flag--FK {
  background-position: -84px -168px;
}

.icon-flag--FM {
  background-position: -105px -168px;
}

.icon-flag--FO {
  background-position: -126px -168px;
}

.icon-flag--FR {
  background-position: -147px -168px;
}

.icon-flag--GA {
  background-position: -168px -168px;
}

.icon-flag--GB {
  background-position: -189px -63px;
}

.icon-flag--GB-NIR {
  background-position: -189px -21px;
}

.icon-flag--GB-SCT {
  background-position: -189px -42px;
}

.icon-flag--GB-UKM {
  background-position: -189px -63px;
}

.icon-flag--GB-WLS {
  background-position: -189px -84px;
}

.icon-flag--GD {
  background-position: -189px -105px;
}

.icon-flag--GE {
  background-position: -189px -126px;
}

.icon-flag--GF {
  background-position: -189px -147px;
}

.icon-flag--GG {
  background-position: -189px -168px;
}

.icon-flag--GH {
  background-position: 0 -189px;
}

.icon-flag--GI {
  background-position: -21px -189px;
}

.icon-flag--GL {
  background-position: -42px -189px;
}

.icon-flag--GM {
  background-position: -63px -189px;
}

.icon-flag--GN {
  background-position: -84px -189px;
}

.icon-flag--GP {
  background-position: -105px -189px;
}

.icon-flag--GP {
  background-position: -126px -189px;
}

.icon-flag--GQ {
  background-position: -147px -189px;
}

.icon-flag--GR {
  background-position: -168px -189px;
}

.icon-flag--GS {
  background-position: -189px -189px;
}

.icon-flag--GT {
  background-position: -210px 0;
}

.icon-flag--GU {
  background-position: -210px -21px;
}

.icon-flag--GW {
  background-position: -210px -42px;
}

.icon-flag--GY {
  background-position: -210px -63px;
}

.icon-flag--HK {
  background-position: -210px -84px;
}

.icon-flag--HM {
  background-position: -210px -105px;
}

.icon-flag--HN {
  background-position: -210px -126px;
}

.icon-flag--HR {
  background-position: -210px -147px;
}

.icon-flag--HT {
  background-position: -210px -168px;
}

.icon-flag--HU {
  background-position: -210px -189px;
}

.icon-flag--ID {
  background-position: 0 -210px;
}

.icon-flag--IE {
  background-position: -21px -210px;
}

.icon-flag--IL {
  background-position: -42px -210px;
}

.icon-flag--IM {
  background-position: -63px -210px;
}

.icon-flag--IN {
  background-position: -84px -210px;
}

.icon-flag--IO {
  background-position: -105px -210px;
}

.icon-flag--IQ {
  background-position: -126px -210px;
}

.icon-flag--IR {
  background-position: -147px -210px;
}

.icon-flag--IS {
  background-position: -168px -210px;
}

.icon-flag--IT {
  background-position: -189px -210px;
}

.icon-flag--JE {
  background-position: -210px -210px;
}

.icon-flag--JM {
  background-position: -231px 0;
}

.icon-flag--JO {
  background-position: -231px -21px;
}

.icon-flag--JP {
  background-position: -231px -42px;
}

.icon-flag--KG {
  background-position: -231px -63px;
}

.icon-flag--KH {
  background-position: -231px -84px;
}

.icon-flag--KI {
  background-position: -231px -105px;
}

.icon-flag--KM {
  background-position: -231px -126px;
}

.icon-flag--KN {
  background-position: -231px -147px;
}

.icon-flag--KN-SK {
  background-position: -231px -168px;
}

.icon-flag--KP {
  background-position: -231px -189px;
}

.icon-flag--KR {
  background-position: -231px -210px;
}

.icon-flag--KW {
  background-position: 0 -231px;
}

.icon-flag--KY {
  background-position: -21px -231px;
}

.icon-flag--KZ {
  background-position: -42px -231px;
}

.icon-flag--LA {
  background-position: -63px -231px;
}

.icon-flag--LB {
  background-position: -84px -231px;
}

.icon-flag--LC {
  background-position: -105px -231px;
}

.icon-flag--LI {
  background-position: -126px -231px;
}

.icon-flag--LK {
  background-position: -147px -231px;
}

.icon-flag--LR {
  background-position: -168px -231px;
}

.icon-flag--LS {
  background-position: -189px -231px;
}

.icon-flag--LT {
  background-position: -210px -231px;
}

.icon-flag--LU {
  background-position: -231px -231px;
}

.icon-flag--LV {
  background-position: -252px 0;
}

.icon-flag--LY {
  background-position: -252px -21px;
}

.icon-flag--MA {
  background-position: -252px -42px;
}

.icon-flag--MC {
  background-position: -252px -63px;
}

.icon-flag--MD {
  background-position: -252px -84px;
}

.icon-flag--ME {
  background-position: -252px -105px;
}

.icon-flag--MF {
  background-position: -252px -126px;
}

.icon-flag--MG {
  background-position: -252px -147px;
}

.icon-flag--MH {
  background-position: -252px -168px;
}

.icon-flag--MK {
  background-position: -252px -189px;
}

.icon-flag--ML {
  background-position: -252px -210px;
}

.icon-flag--MM {
  background-position: -252px -231px;
}

.icon-flag--MN {
  background-position: 0 -252px;
}

.icon-flag--MO {
  background-position: -21px -252px;
}

.icon-flag--MP {
  background-position: -42px -252px;
}

.icon-flag--MQ {
  background-position: -63px -252px;
}

.icon-flag--MQ-UNF {
  background-position: -84px -252px;
}

.icon-flag--MR {
  background-position: -105px -252px;
}

.icon-flag--MS {
  background-position: -126px -252px;
}

.icon-flag--MT {
  background-position: -147px -252px;
}

.icon-flag--MU {
  background-position: -168px -252px;
}

.icon-flag--MV {
  background-position: -189px -252px;
}

.icon-flag--MW {
  background-position: -210px -252px;
}

.icon-flag--MX {
  background-position: -231px -252px;
}

.icon-flag--MY {
  background-position: -252px -252px;
}

.icon-flag--MZ {
  background-position: -273px 0;
}

.icon-flag--NA {
  background-position: -273px -21px;
}

.icon-flag--NC {
  background-position: -273px -42px;
}

.icon-flag--NE {
  background-position: -273px -63px;
}

.icon-flag--NF {
  background-position: -273px -84px;
}

.icon-flag--NG {
  background-position: -273px -105px;
}

.icon-flag--NI {
  background-position: -273px -126px;
}

.icon-flag--NL {
  background-position: -273px -147px;
}

.icon-flag--NO {
  background-position: -273px -168px;
}

.icon-flag--NP {
  background-position: -273px -189px;
}

.icon-flag--NR {
  background-position: -273px -210px;
}

.icon-flag--NU {
  background-position: -273px -231px;
}

.icon-flag--NZ {
  background-position: -273px -252px;
}

.icon-flag--OM {
  background-position: 0 -273px;
}

.icon-flag--PA {
  background-position: -21px -273px;
}

.icon-flag--PE {
  background-position: -42px -273px;
}

.icon-flag--PF {
  background-position: -63px -273px;
}

.icon-flag--PG {
  background-position: -84px -273px;
}

.icon-flag--PH {
  background-position: -105px -273px;
}

.icon-flag--PK {
  background-position: -126px -273px;
}

.icon-flag--PL {
  background-position: -147px -273px;
}

.icon-flag--PM {
  background-position: -168px -273px;
}

.icon-flag--PM-UNF {
  background-position: -189px -273px;
}

.icon-flag--PN {
  background-position: -210px -273px;
}

.icon-flag--PR {
  background-position: -231px -273px;
}

.icon-flag--PS {
  background-position: -252px -273px;
}

.icon-flag--PT {
  background-position: -273px -273px;
}

.icon-flag--PW {
  background-position: -294px 0;
}

.icon-flag--PY {
  background-position: -294px -21px;
}

.icon-flag--QA {
  background-position: -294px -42px;
}

.icon-flag--RAINBOW {
  background-position: -294px -63px;
}

.icon-flag--RE {
  background-position: -294px -84px;
}

.icon-flag--RO {
  background-position: -294px -105px;
}

.icon-flag--RS {
  background-position: -294px -126px;
}

.icon-flag--RU {
  background-position: -294px -147px;
}

.icon-flag--RW {
  background-position: -294px -168px;
}

.icon-flag--SA {
  background-position: -294px -189px;
}

.icon-flag--SB {
  background-position: -294px -210px;
}

.icon-flag--SC {
  background-position: -294px -231px;
}

.icon-flag--SD {
  background-position: -294px -252px;
}

.icon-flag--SE {
  background-position: -294px -273px;
}

.icon-flag--SG {
  background-position: 0 -294px;
}

.icon-flag--SH {
  background-position: -21px -294px;
}

.icon-flag--SI {
  background-position: -42px -294px;
}

.icon-flag--SJ {
  background-position: -63px -294px;
}

.icon-flag--SK {
  background-position: -84px -294px;
}

.icon-flag--SL {
  background-position: -105px -294px;
}

.icon-flag--SM {
  background-position: -126px -294px;
}

.icon-flag--SN {
  background-position: -147px -294px;
}

.icon-flag--SO {
  background-position: -168px -294px;
}

.icon-flag--SR {
  background-position: -189px -294px;
}

.icon-flag--SS {
  background-position: -210px -294px;
}

.icon-flag--ST {
  background-position: -231px -294px;
}

.icon-flag--SV {
  background-position: -252px -294px;
}

.icon-flag--SX {
  background-position: -273px -294px;
}

.icon-flag--SY {
  background-position: -294px -294px;
}

.icon-flag--SZ {
  background-position: -315px 0;
}

.icon-flag--TC {
  background-position: -315px -21px;
}

.icon-flag--TD {
  background-position: -315px -42px;
}

.icon-flag--TF {
  background-position: -315px -63px;
}

.icon-flag--TG {
  background-position: -315px -84px;
}

.icon-flag--TH {
  background-position: -315px -105px;
}

.icon-flag--TJ {
  background-position: -315px -126px;
}

.icon-flag--TK {
  background-position: -315px -147px;
}

.icon-flag--TL {
  background-position: -315px -168px;
}

.icon-flag--TM {
  background-position: -315px -189px;
}

.icon-flag--TN {
  background-position: -315px -210px;
}

.icon-flag--TO {
  background-position: -315px -231px;
}

.icon-flag--TR {
  background-position: -315px -252px;
}

.icon-flag--TT {
  background-position: -315px -273px;
}

.icon-flag--TV {
  background-position: -315px -294px;
}

.icon-flag--TW {
  background-position: 0 -315px;
}

.icon-flag--TZ {
  background-position: -21px -315px;
}

.icon-flag--UA {
  background-position: -42px -315px;
}

.icon-flag--UG {
  background-position: -63px -315px;
}

.icon-flag--UM {
  background-position: -84px -315px;
}

.icon-flag--Union_f_outh_merican_ations {
  background-position: -105px -315px;
}

.icon-flag--US {
  background-position: -126px -315px;
}

.icon-flag--UY {
  background-position: -147px -315px;
}

.icon-flag--UZ {
  background-position: -168px -315px;
}

.icon-flag--VA {
  background-position: -189px -315px;
}

.icon-flag--VC {
  background-position: -210px -315px;
}

.icon-flag--VE {
  background-position: -231px -315px;
}

.icon-flag--VG {
  background-position: -252px -315px;
}

.icon-flag--VI {
  background-position: -273px -315px;
}

.icon-flag--VN {
  background-position: -410px -370px;
}

.icon-flag--VU {
  background-position: -315px -315px;
}

.icon-flag--WF {
  background-position: -336px 0;
}

.icon-flag--WS {
  background-position: -336px -21px;
}

.icon-flag--XK {
  background-position: -336px -42px;
}

.icon-flag--YE {
  background-position: -336px -63px;
}

.icon-flag--YT-UNF {
  background-position: -336px -84px;
}

.icon-flag--ZA {
  background-position: -336px -105px;
}

.icon-flag--ZM {
  background-position: -336px -126px;
}

.icon-flag--ZW {
  background-position: -336px -147px;
}