.icon-flag {
  width: 30px;
  height: 22.5px;
  flex-shrink: 0;
  background: image-set(url("./icon-flag.png") 1x, url("./icon-flag-2x.png") 2x) no-repeat center left;
}
.icon-flag--AF {
  background-position: -10px -10px;
}
.icon-flag--AX {
  background-position: -50px -10px;
}
.icon-flag--AL {
  background-position: -90px -10px;
}
.icon-flag--DZ {
  background-position: -130px -10px;
}
.icon-flag--AD {
  background-position: -170px -10px;
}
.icon-flag--AO {
  background-position: -210px -10px;
}
.icon-flag--AI {
  background-position: -250px -10px;
}
.icon-flag--AG {
  background-position: -290px -10px;
}
.icon-flag--AR {
  background-position: -330px -10px;
}
.icon-flag--AM {
  background-position: -370px -10px;
}
.icon-flag--AW {
  background-position: -410px -10px;
}
.icon-flag--AC {
  background-position: -450px -10px;
}
.icon-flag--AU {
  background-position: -490px -10px;
}
.icon-flag--AT {
  background-position: -530px -10px;
}
.icon-flag--AZ {
  background-position: -570px -10px;
}
.icon-flag--BS {
  background-position: -610px -10px;
}
.icon-flag--BH {
  background-position: -650px -10px;
}
.icon-flag--BD {
  background-position: -690px -10px;
}
.icon-flag--BB {
  background-position: -730px -10px;
}
.icon-flag--BY {
  background-position: -770px -10px;
}
.icon-flag--BE {
  background-position: -10px -42.5px;
}
.icon-flag--BZ {
  background-position: -50px -42.5px;
}
.icon-flag--BJ {
  background-position: -90px -42.5px;
}
.icon-flag--BM {
  background-position: -130px -42.5px;
}
.icon-flag--BT {
  background-position: -170px -42.5px;
}
.icon-flag--BO {
  background-position: -210px -42.5px;
}
.icon-flag--BA {
  background-position: -250px -42.5px;
}
.icon-flag--BW {
  background-position: -290px -42.5px;
}
.icon-flag--BR {
  background-position: -330px -42.5px;
}
.icon-flag--IO {
  background-position: -370px -42.5px;
}
.icon-flag--VG {
  background-position: -410px -42.5px;
}
.icon-flag--BN {
  background-position: -450px -42.5px;
}
.icon-flag--BG {
  background-position: -490px -42.5px;
}
.icon-flag--BF {
  background-position: -530px -42.5px;
}
.icon-flag--BI {
  background-position: -570px -42.5px;
}
.icon-flag--KH {
  background-position: -610px -42.5px;
}
.icon-flag--CM {
  background-position: -650px -42.5px;
}
.icon-flag--CA {
  background-position: -690px -42.5px;
}
.icon-flag--CV {
  background-position: -730px -42.5px;
}
.icon-flag--BQ {
  background-position: -770px -42.5px;
}
.icon-flag--KY {
  background-position: -10px -75px;
}
.icon-flag--CF {
  background-position: -50px -75px;
}
.icon-flag--TD {
  background-position: -90px -75px;
}
.icon-flag--CL {
  background-position: -130px -75px;
}
.icon-flag--CN {
  background-position: -170px -75px;
}
.icon-flag--CX {
  background-position: -210px -75px;
}
.icon-flag--CC {
  background-position: -250px -75px;
}
.icon-flag--CO {
  background-position: -290px -75px;
}
.icon-flag--KM {
  background-position: -330px -75px;
}
.icon-flag--CG {
  background-position: -370px -75px;
}
.icon-flag--CD {
  background-position: -410px -75px;
}
.icon-flag--CK {
  background-position: -450px -75px;
}
.icon-flag--CR {
  background-position: -490px -75px;
}
.icon-flag--CI {
  background-position: -530px -75px;
}
.icon-flag--HR {
  background-position: -570px -75px;
}
.icon-flag--CW {
  background-position: -610px -75px;
}
.icon-flag--CY {
  background-position: -650px -75px;
}
.icon-flag--CZ {
  background-position: -690px -75px;
}
.icon-flag--DK {
  background-position: -730px -75px;
}
.icon-flag--DJ {
  background-position: -770px -75px;
}
.icon-flag--DM {
  background-position: -10px -107.5px;
}
.icon-flag--DO {
  background-position: -50px -107.5px;
}
.icon-flag--EC {
  background-position: -90px -107.5px;
}
.icon-flag--EG {
  background-position: -130px -107.5px;
}
.icon-flag--SV {
  background-position: -170px -107.5px;
}
.icon-flag--GQ {
  background-position: -210px -107.5px;
}
.icon-flag--ER {
  background-position: -250px -107.5px;
}
.icon-flag--EE {
  background-position: -290px -107.5px;
}
.icon-flag--SZ {
  background-position: -330px -107.5px;
}
.icon-flag--ET {
  background-position: -370px -107.5px;
}
.icon-flag--FK {
  background-position: -410px -107.5px;
}
.icon-flag--FO {
  background-position: -450px -107.5px;
}
.icon-flag--FJ {
  background-position: -490px -107.5px;
}
.icon-flag--FI {
  background-position: -530px -107.5px;
}
.icon-flag--FR {
  background-position: -570px -107.5px;
}
.icon-flag--GF {
  background-position: -610px -107.5px;
}
.icon-flag--PF {
  background-position: -650px -107.5px;
}
.icon-flag--TF {
  background-position: -690px -107.5px;
}
.icon-flag--GA {
  background-position: -730px -107.5px;
}
.icon-flag--GM {
  background-position: -770px -107.5px;
}
.icon-flag--GE {
  background-position: -10px -140px;
}
.icon-flag--DE {
  background-position: -50px -140px;
}
.icon-flag--GH {
  background-position: -90px -140px;
}
.icon-flag--GI {
  background-position: -130px -140px;
}
.icon-flag--GR {
  background-position: -170px -140px;
}
.icon-flag--GL {
  background-position: -210px -140px;
}
.icon-flag--GD {
  background-position: -250px -140px;
}
.icon-flag--GP {
  background-position: -290px -140px;
}
.icon-flag--GT {
  background-position: -330px -140px;
}
.icon-flag--GG {
  background-position: -370px -140px;
}
.icon-flag--GN {
  background-position: -410px -140px;
}
.icon-flag--GW {
  background-position: -450px -140px;
}
.icon-flag--GY {
  background-position: -490px -140px;
}
.icon-flag--HT {
  background-position: -530px -140px;
}
.icon-flag--HN {
  background-position: -570px -140px;
}
.icon-flag--HK {
  background-position: -610px -140px;
}
.icon-flag--HU {
  background-position: -650px -140px;
}
.icon-flag--IS {
  background-position: -690px -140px;
}
.icon-flag--IN {
  background-position: -730px -140px;
}
.icon-flag--ID {
  background-position: -770px -140px;
}
.icon-flag--IQ {
  background-position: -10px -172.5px;
}
.icon-flag--IE {
  background-position: -50px -172.5px;
}
.icon-flag--IM {
  background-position: -90px -172.5px;
}
.icon-flag--IL {
  background-position: -130px -172.5px;
}
.icon-flag--IT {
  background-position: -170px -172.5px;
}
.icon-flag--JM {
  background-position: -210px -172.5px;
}
.icon-flag--JP {
  background-position: -250px -172.5px;
}
.icon-flag--JE {
  background-position: -290px -172.5px;
}
.icon-flag--JO {
  background-position: -330px -172.5px;
}
.icon-flag--KZ {
  background-position: -370px -172.5px;
}
.icon-flag--KE {
  background-position: -410px -172.5px;
}
.icon-flag--KI {
  background-position: -450px -172.5px;
}
.icon-flag--XK {
  background-position: -490px -172.5px;
}
.icon-flag--KW {
  background-position: -530px -172.5px;
}
.icon-flag--KG {
  background-position: -570px -172.5px;
}
.icon-flag--LA {
  background-position: -610px -172.5px;
}
.icon-flag--LV {
  background-position: -650px -172.5px;
}
.icon-flag--LB {
  background-position: -690px -172.5px;
}
.icon-flag--LS {
  background-position: -730px -172.5px;
}
.icon-flag--LR {
  background-position: -770px -172.5px;
}
.icon-flag--LY {
  background-position: -10px -205px;
}
.icon-flag--LI {
  background-position: -50px -205px;
}
.icon-flag--LT {
  background-position: -90px -205px;
}
.icon-flag--LU {
  background-position: -130px -205px;
}
.icon-flag--MO {
  background-position: -170px -205px;
}
.icon-flag--MG {
  background-position: -210px -205px;
}
.icon-flag--MW {
  background-position: -250px -205px;
}
.icon-flag--MY {
  background-position: -290px -205px;
}
.icon-flag--MV {
  background-position: -330px -205px;
}
.icon-flag--ML {
  background-position: -370px -205px;
}
.icon-flag--MT {
  background-position: -410px -205px;
}
.icon-flag--MQ {
  background-position: -450px -205px;
}
.icon-flag--MR {
  background-position: -490px -205px;
}
.icon-flag--MU {
  background-position: -530px -205px;
}
.icon-flag--YT {
  background-position: -570px -205px;
}
.icon-flag--MX {
  background-position: -610px -205px;
}
.icon-flag--MD {
  background-position: -650px -205px;
}
.icon-flag--MC {
  background-position: -690px -205px;
}
.icon-flag--MN {
  background-position: -730px -205px;
}
.icon-flag--ME {
  background-position: -770px -205px;
}
.icon-flag--MS {
  background-position: -10px -237.5px;
}
.icon-flag--MA {
  background-position: -50px -237.5px;
}
.icon-flag--MZ {
  background-position: -90px -237.5px;
}
.icon-flag--MM {
  background-position: -130px -237.5px;
}
.icon-flag--NA {
  background-position: -170px -237.5px;
}
.icon-flag--NR {
  background-position: -210px -237.5px;
}
.icon-flag--NP {
  background-position: -250px -237.5px;
}
.icon-flag--NL {
  background-position: -290px -237.5px;
}
.icon-flag--NC {
  background-position: -330px -237.5px;
}
.icon-flag--NZ {
  background-position: -370px -237.5px;
}
.icon-flag--NI {
  background-position: -410px -237.5px;
}
.icon-flag--NE {
  background-position: -450px -237.5px;
}
.icon-flag--NG {
  background-position: -490px -237.5px;
}
.icon-flag--NU {
  background-position: -530px -237.5px;
}
.icon-flag--NF {
  background-position: -570px -237.5px;
}
.icon-flag--MK {
  background-position: -610px -237.5px;
}
.icon-flag--NO {
  background-position: -650px -237.5px;
}
.icon-flag--OM {
  background-position: -690px -237.5px;
}
.icon-flag--PK {
  background-position: -730px -237.5px;
}
.icon-flag--PS {
  background-position: -770px -237.5px;
}
.icon-flag--PA {
  background-position: -10px -270px;
}
.icon-flag--PG {
  background-position: -50px -270px;
}
.icon-flag--PY {
  background-position: -90px -270px;
}
.icon-flag--PE {
  background-position: -130px -270px;
}
.icon-flag--PH {
  background-position: -170px -270px;
}
.icon-flag--PN {
  background-position: -210px -270px;
}
.icon-flag--PL {
  background-position: -250px -270px;
}
.icon-flag--PT {
  background-position: -290px -270px;
}
.icon-flag--QA {
  background-position: -330px -270px;
}
.icon-flag--RE {
  background-position: -370px -270px;
}
.icon-flag--RO {
  background-position: -410px -270px;
}
.icon-flag--RU {
  background-position: -450px -270px;
}
.icon-flag--RW {
  background-position: -490px -270px;
}
.icon-flag--WS {
  background-position: -530px -270px;
}
.icon-flag--SM {
  background-position: -570px -270px;
}
.icon-flag--ST {
  background-position: -610px -270px;
}
.icon-flag--SA {
  background-position: -650px -270px;
}
.icon-flag--SN {
  background-position: -690px -270px;
}
.icon-flag--RS {
  background-position: -730px -270px;
}
.icon-flag--SC {
  background-position: -770px -270px;
}
.icon-flag--SL {
  background-position: -10px -302.5px;
}
.icon-flag--SG {
  background-position: -50px -302.5px;
}
.icon-flag--SX {
  background-position: -90px -302.5px;
}
.icon-flag--SK {
  background-position: -130px -302.5px;
}
.icon-flag--SI {
  background-position: -170px -302.5px;
}
.icon-flag--SB {
  background-position: -210px -302.5px;
}
.icon-flag--SO {
  background-position: -250px -302.5px;
}
.icon-flag--ZA {
  background-position: -290px -302.5px;
}
.icon-flag--GS {
  background-position: -330px -302.5px;
}
.icon-flag--KR {
  background-position: -370px -302.5px;
}
.icon-flag--SS {
  background-position: -410px -302.5px;
}
.icon-flag--ES {
  background-position: -450px -302.5px;
}
.icon-flag--LK {
  background-position: -490px -302.5px;
}
.icon-flag--BL {
  background-position: -530px -302.5px;
}
.icon-flag--SH {
  background-position: -570px -302.5px;
}
.icon-flag--KN {
  background-position: -610px -302.5px;
}
.icon-flag--LC {
  background-position: -650px -302.5px;
}
.icon-flag--MF {
  background-position: -690px -302.5px;
}
.icon-flag--PM {
  background-position: -730px -302.5px;
}
.icon-flag--VC {
  background-position: -770px -302.5px;
}
.icon-flag--SD {
  background-position: -10px -335px;
}
.icon-flag--SR {
  background-position: -50px -335px;
}
.icon-flag--SJ {
  background-position: -90px -335px;
}
.icon-flag--SE {
  background-position: -130px -335px;
}
.icon-flag--CH {
  background-position: -170px -335px;
}
.icon-flag--TW {
  background-position: -210px -335px;
}
.icon-flag--TJ {
  background-position: -250px -335px;
}
.icon-flag--TZ {
  background-position: -290px -335px;
}
.icon-flag--TH {
  background-position: -330px -335px;
}
.icon-flag--TL {
  background-position: -370px -335px;
}
.icon-flag--TG {
  background-position: -410px -335px;
}
.icon-flag--TK {
  background-position: -450px -335px;
}
.icon-flag--TO {
  background-position: -490px -335px;
}
.icon-flag--TT {
  background-position: -530px -335px;
}
.icon-flag--TA {
  background-position: -570px -335px;
}
.icon-flag--TN {
  background-position: -610px -335px;
}
.icon-flag--TR {
  background-position: -650px -335px;
}
.icon-flag--TM {
  background-position: -690px -335px;
}
.icon-flag--TC {
  background-position: -730px -335px;
}
.icon-flag--TV {
  background-position: -770px -335px;
}
.icon-flag--UM {
  background-position: -10px -367.5px;
}
.icon-flag--UG {
  background-position: -50px -367.5px;
}
.icon-flag--UA {
  background-position: -90px -367.5px;
}
.icon-flag--AE {
  background-position: -130px -367.5px;
}
.icon-flag--GB {
  background-position: -170px -367.5px;
}
.icon-flag--US {
  background-position: -210px -367.5px;
}
.icon-flag--UY {
  background-position: -250px -367.5px;
}
.icon-flag--UZ {
  background-position: -290px -367.5px;
}
.icon-flag--VU {
  background-position: -330px -367.5px;
}
.icon-flag--VA {
  background-position: -370px -367.5px;
}
.icon-flag--VE {
  background-position: -410px -367.5px;
}
.icon-flag--VN {
  background-position: -450px -367.5px;
}
.icon-flag--WF {
  background-position: -490px -367.5px;
}
.icon-flag--EH {
  background-position: -530px -367.5px;
}
.icon-flag--YE {
  background-position: -570px -367.5px;
}
.icon-flag--ZM {
  background-position: -610px -367.5px;
}
.icon-flag--ZW {
  background-position: -650px -367.5px;
}