.lookbook-popup {
    position: fixed;
    width: auto;
    max-width: 40%;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 103;
    opacity: 0;
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
    transition: opacity .3s ease, visibility .3s ease, transform .3s ease;
    min-width: 350px;
    height: 0;
    overflow: hidden;
}

@media (max-width: 750px) {
  .lookbook-popup {
    max-width: 100%;
  }
}

.openLookbookPopup .lookbook-popup {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);
    height: auto;
    overflow: visible;
}

.hide_products {
    display: none;
}

.lookBook__btnShowProducts.is-open .show_products {
    display: none;
}

.lookBook__btnShowProducts.is-open .hide_products {
    display: block;
}

.lookbook-section-list.style-popup .lookbook-dot__content {
    position: relative;
    left: 35px;
    max-width: 450px;
    transform-origin: left center;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease,visibility .3s ease;
}

@media (min-width: 1025px) {
  .lookbook-section-list.style-popup .lookbook-dot__content.is-open {
    opacity: 1;
    visibility: visible;
    animation: 0.3s ease 0s 1 normal none running scaleLeftToRight;
  }
}

.lookbook-section-list.style-popup .lookbook-dot .product-image,
.lookbook-section-list.style-popup .lookbook-dot .card--block-variant {
  display: none;
}

@keyframes scaleLeftToRight {
    0% {
        opacity: 0;
        transform: translateX(-3rem) scale(0);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}