multilayer-image {
    .multilayer-image-carousel {
        display: flex;
        align-items: stretch;
        > .group-block:not(.group-active) {
            > .group-block-content {
                display: none;
            }
        }

        > .group-block {
            transition: all .6s ease-in-out;
            height: auto;
            min-height: var(--item-height);
            .group-block__media-wrapper {
                height: 100%;
                .background-image-container {
                    width: 100%;
                    height: 100%;
                    object-position: center;
                }
            }
        }

        @media screen and (max-width: 750px) {
            flex-direction: column;
            > .group-block:not(.group-active) {
                > .group-block-content {
                    display: block;
                }
            }
        }
    }
}