.preload-screen,
.preload-screen:before,
.preload-screen:after,
.preload-screen .preload__screen-logo {
    transition: all var(--tst-smooth);
}

.preload-screen:before,
.preload-screen:after {
    --line: color-mix(in lch, color-mix(in srgb, var(--color-foreground), transparent 50%), transparent);
    --size: clamp(6rem, calc(100 / 1920 * 100vw), 10rem);
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(90deg, var(--line) 0.1rem, transparent 0.1rem var(--size)) 0 -5vmin / var(--size) var(--size), linear-gradient(var(--line) 0.1rem, transparent 0.1rem var(--size)) 0 -1vmin / var(--size) var(--size);
    -webkit-mask: linear-gradient(-15deg, transparent 65%, var(--color-background));
    mask: linear-gradient(-15deg, transparent 65%, var(--color-background));
    opacity: 0;
}

.preload-screen:after {
    -webkit-mask: linear-gradient(160deg, transparent 65%, var(--color-background));
    mask: linear-gradient(160deg, transparent 65%, var(--color-background));
}

.preload-screen.off--ready:after,
.preload-screen.off--ready:before {
    opacity: 1;
}

.preload-screen.off:after,
.preload-screen.off:before {
    opacity: 0;
    transition-delay: .1s;
}

.preload-screen .preload__screen-logo {
    opacity: 0;
    transform: translateY(30%);
}

.preload-screen.off--ready .preload__screen-logo {
    opacity: 1;
    transform: translateY(0%);
}

.preload-screen.off .preload__screen-logo {
    opacity: 0;
    transform: translateY(-30%);
    transition-delay: .1s;
}

.preload-screen.off.loaded {
    opacity: 0;
}

/* Annimate for sections after preloading screen */
body.has--preload-screen.loaded .multitasking-bar {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate3d(0, -50%, 0);
    transition-delay: .3s;
}

body.loaded .header {
    animation: fadeInDown var(--duration-long) both;
}

body.loaded .footer,
body.loaded .rich-text,
body.loaded .product__media-wrapper,
body.loaded .product__info-container {
    animation: slideIn var(--duration-long) both !important;
}

body.loaded .product__info-container {
    transition-delay: 75ms;
}

body.loaded .slideshow__slide .slideshow__text {
    animation: slideIn var(--duration-longest) both !important;
}

body.off .image--hover-effect img {
    transform: scale(1.1);
}

body.loaded .image--hover-effect img {
    transform: scale(1);
}