/* Header */
.header-wrapper {
  display: block;
  position: relative;
  background-color: rgb(var(--color-background));
}
.header-wrapper--border-bottom {
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
}
.header-multi-site-grid {
  display: grid;
  grid-template-areas: 'logo multi-site heading icons';
  grid-auto-flow: column;
  align-items: center;
}
.header *[tabindex='-1']:focus {
  outline: none;
}
.header__heading {
  margin: 0;
  line-height: 0;
}
.header > .header__heading-link {
  line-height: 0;
}
.header__heading,
.header__heading-link {
  grid-area: heading;
  justify-self: center;
}
.header__heading-link {
  display: inline-block;
  padding: 0.75rem;
  text-decoration: none;
  word-break: break-word;
}
.header__heading-link:hover .h2 {
  color: rgb(var(--color-foreground));
}
.header__heading-link .h2 {
  line-height: 1;
  color: rgba(var(--color-foreground), 0.75);
}
.header__heading-logo {
  height: auto;
  max-width: 100%;
}
.header__heading-logo-wrapper {
  transition: width 0.4s var(--cubic-smooth);
}
.menu__tab-logo {
  height: 1.6rem;
  width: auto;
}
/* Header icons */
.header__icons {
  display: flex;
  grid-area: icons;
  justify-self: end;
  padding-right: 0.8rem;
}
.header__icons .shopify-app-block {
  max-width: 4.4rem;
  max-height: 4.4rem;
  overflow: hidden;
}
.header__icon:not(.header__icon--summary),
.header__icon span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__icon {
  color: rgb(var(--color-foreground));
}
.header__icon span {
  height: 100%;
}
.header__icon .svg-wrapper {
  width: 44px;
  height: 44px;
}
.header__icon::after {
  content: none;
}
.header__icon:hover .icon,
.modal__close-button:hover .icon {
  transform: scale(1.07);
}
.header__icon .icon {
  height: 2rem;
  width: 2rem;
  fill: none;
  vertical-align: middle;
}
.header__icon,
.header__icon--cart .icon {
  height: 4.4rem;
  width: 4.4rem;
  padding: 0;
}
.header__icon--cart {
  position: relative;
  margin-right: -1.2rem;
}
.header__icon--menu[aria-expanded='true']::before {
  content: '';
  top: 100%;
  left: 0;
  height: calc(var(--viewport-height, 100vh) - (var(--header-bottom-position, 100%)));
  width: 100%;
  display: block;
  position: absolute;
  background: rgba(var(--color-foreground), 0.5);
}
.header__icon--account shop-user-avatar {
  --shop-avatar-size: 2.8rem;
}
account-icon {
  display: flex;
}
/* Search */
menu-drawer + .header__search {
  display: none;
}
.header > .header__search {
  grid-area: left-icons;
  justify-self: start;
}
.header--top-center header-drawer {
  grid-area: left-icons;
}
.header:not(.header--has-menu) * > .header__search {
  display: none;
}
.header__search {
  display: inline-flex;
  line-height: 0;
}
.header--top-center > .header__search {
  display: none;
}
.header--top-center * > .header__search {
  display: inline-flex;
}
details[open] > .search-modal {
  opacity: 1;
  animation: animateMenuOpen var(--duration-default) ease;
}
details[open] .modal-overlay {
  display: block;
}
details[open] .modal-overlay::after {
  position: absolute;
  content: '';
  background-color: rgb(var(--color-foreground), 0.5);
  top: 100%;
  left: 0;
  right: 0;
  height: 100vh;
}
.search-modal {
  top: 100%;
  opacity: 0;
  border-bottom: 0.1rem solid rgba(var(--color-foreground), 0.08);
  min-height: calc(100% + var(--inputs-margin-offset) + (2 * var(--inputs-border-width)));
  height: 100%;
}
.search-modal__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 5rem 0 1rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
  position: relative;
}
.search-modal__content-bottom {
  bottom: calc((var(--inputs-margin-offset) / 2));
}
.search-modal__content-top {
  top: calc((var(--inputs-margin-offset) / 2));
}
.search-modal__form {
  width: 100%;
}
.search-modal__close-button {
  position: absolute;
  right: 0.3rem;
}
/* Header menu drawer */
.header__icon--menu .icon {
  display: block;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 150ms ease, opacity 150ms ease;
}
details:not([open]) > .header__icon--menu .icon-close,
details[open] > .header__icon--menu .icon-hamburger {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
}
.js details[open]:not(.menu-opening) > .header__icon--menu .icon-close {
  visibility: hidden;
}
.js details[open]:not(.menu-opening) > .header__icon--menu .icon-hamburger {
  visibility: visible;
  opacity: 1;
  transform: scale(1.07);
}
/* Header menu */
.button-site~.header__inline-menu {
  display: none;
}
.header__inline-menu {
  grid-area: navigation;
  display: none;
}
.header--top-center .header__inline-menu,
.header--top-center .header__heading-link {
  margin-left: 0;
}
.header__menu-item {
  padding: 1.2rem;
  text-decoration: none;
  color: rgba(var(--color-foreground), 0.75);
}
.header__menu-item:hover {
  color: rgb(var(--color-foreground));
}
.header__menu-item span {
  transition: text-decoration var(--duration-short) ease;
}
.menu__link--level-1:hover:before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: var(--list-menu-height);
  z-index: 1;
}
.header__menu-item:hover span {
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
details[open='true'] > .header__menu-item {
  text-decoration: underline;
}
details[open='true']:hover > .header__menu-item {
  text-decoration-thickness: 0.2rem;
}
details[open='true'] > .header__menu-item .icon-caret,
.header__submenu details[open='true'] > .header__menu-item .icon-caret {
  transform: rotateX(180deg);
}
.header__active-menu-item {
  transition: text-decoration-thickness var(--duration-short) ease;
  color: rgb(var(--color-foreground));
  text-decoration: underline;
  text-underline-offset: 0.3rem;
}
.header__menu-item:hover .header__active-menu-item {
  text-decoration-thickness: 0.2rem;
}
.global-settings-popup {
  border-radius: var(--popup-corner-radius);
  border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
  border-style: solid;
  border-width: var(--popup-border-width);
  box-shadow: var(--popup-shadow);
}
.header__submenu.list-menu {
  padding: 1rem 0;
}
.header__submenu .header__submenu {
  padding: 1rem 0;
  margin-top: -1.1rem;
  margin-left: 0.3rem;
}
.header__submenu .header__menu-item:after {
  right: 2rem;
}
.header__submenu .header__menu-item {
  justify-content: space-between;
  padding: 0.8rem 2rem;
}
.header__submenu .header__menu-item:hover,
.header__mega-submenu .header__menu-item:hover {
  text-decoration-line: underline;
}
.header__menu-item .icon-caret {
  right: 0.8rem;
}
.header__submenu .icon-caret {
  flex-shrink: 0;
  margin-left: 1rem;
  position: static;
}
header-menu > details,
details-disclosure > details {
  position: relative;
}
.header__icon--menu {
  justify-self: start;
  margin-left: -1.2rem;
}
.scrolled-past-header .header__heading-logo-wrapper {
  width: 75%;
}
.list-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}
.list-menu--inline {
  display: inline-flex;
  flex-wrap: wrap;
}
summary.list-menu__item {
  padding-right: 2.7rem;
}
.list-menu__item {
  display: flex;
  align-items: center;
  line-height: calc(1 + 0.3 / var(--font-body-scale));
}
.list-menu__item--link {
  text-decoration: none;
  padding-bottom: 1rem;
  padding-top: 1rem;
  line-height: calc(1 + 0.8 / var(--font-body-scale));
}
@keyframes animateMenuOpen {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@media screen and (min-width: 750px) {
  .header.page-width,
  .utility-bar__grid.page-width {
    padding-inline: 3.2rem;
  }
  .search-modal__close-button {
    right: 1rem;
  }
  .search-modal__content {
    padding: 0 6rem;
  }
  .list-menu__item--link {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
  }
}
@media screen and (min-width: 1025px) {
  .header.page-width {
    padding-inline: 5rem;
  }
  body:has(.section-header .header) .utility-bar .page-width {
    padding-inline: 5rem;
  }
  .header__inline-menu {
    display: block;
  }
  .header--top-center .header__inline-menu {
    justify-self: center;
  }
  .header--top-center .header__inline-menu > .list-menu--inline {
    justify-content: center;
  }
  .header--middle-left .header__inline-menu {
    margin-left: 0;
  }
  .header-multi-site-grid {
    grid-template-columns: fit-content(40%) fit-content(30%) minmax(0, 1fr);
  }
  .header--top-left,
  .header--middle-left:not(.header--has-menu) {
    grid-template-areas:
      'heading icons'
      'navigation navigation';
    grid-template-columns: 1fr auto;
  }
  .header--middle-left {
    grid-template-areas: 'heading navigation icons';
    grid-template-columns: auto auto 1fr;
    column-gap: 2rem;
  }
  .header--middle-center {
    grid-template-areas: 'navigation heading icons';
    grid-template-columns: 1fr auto 1fr;
    column-gap: 2rem;
  }
  .header--middle-center a.header__heading-link {
    text-align: center;
  }
  .header--top-center {
    grid-template-areas:
      'left-icons heading icons'
      'navigation navigation navigation';
  }
  .header--middle-left .header__heading-link,
  .header--top-left .header__heading-link {
    margin-left: -0.75rem;
  }
  .header__heading,
  .header__heading-link {
    justify-self: start;
  }
  .header--middle-center .header__heading-link,
  .header--middle-center .header__heading {
    justify-self: center;
    text-align: center;
  }
  .header--top-center .header__heading-link,
  .header--top-center .header__heading {
    justify-self: center;
    text-align: center;
  }
  .header:not(.header--top-center) * > .header__search,
  .header--top-center > .header__search {
    display: inline-flex;
  }
  .header:not(.header--top-center) > .header__search,
  .header--top-center * > .header__search {
    display: none;
  }
  .search-modal__form {
    max-width: 74.2rem;
  }
  .search-modal__close-button {
    position: initial;
    margin-left: 0.5rem;
  }
  .header__icon--menu {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .header__heading,
  .header__heading-link {
    text-align: center;
  }
  .header--mobile-left .header__heading,
  .header--mobile-left .header__heading-link {
    text-align: left;
    justify-self: start;
  }
  .header--mobile-left {
    grid-template-columns: auto 2fr 1fr;
  }
}
@media screen and (max-width: 749px) {
  .header--has-app {
    grid-template-columns: auto 1fr auto;
  }
}