.footer {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.footer:not(.color-scheme-1) {
  border-top: none;
}

.footer__content-top {
  padding-bottom: 5rem;
  display: block;
}

@media screen and (max-width: 749px) {
  .footer .grid {
    display: block;
  }

  .footer-block.grid__item {
    padding: 0;
    width: 100%;
  }

  .footer-block.grid__item:first-child {
    margin-top: 0;
  }

  .footer__content-top {
    padding-bottom: 3rem;
  }
}

@media screen and (min-width: 750px) {
  .footer__content-top .grid {
    row-gap: 6rem;
    margin-bottom: 0;
  }

  .footer__content-top details summary {
    pointer-events: none;
    box-shadow: none !important;
    outline: 0 !important;
  }

  .footer-block--menu .icon {
    display: none;
  }
}

@media screen and (max-width: 749px) {
  .footer-bottom {
    flex-wrap: wrap;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    row-gap: 1.5rem;
  }

  .footer__content-bottom-wrapper {
    flex-wrap: wrap;
    row-gap: 1.5rem;
  }

  .footer-bottom.scroll-trigger.animate--slide-in {
    animation: none;
    opacity: 1;
    transform: inherit;
  }
}

.footer__localization:empty + .footer__column--info {
  align-items: center;
}

@media screen and (max-width: 749px) {
  .footer__localization:empty + .footer__column {
    padding-top: 1.5rem;
  }
}

.footer__column {
  width: 100%;
  align-items: flex-end;
}

.footer__column--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

@media screen and (min-width: 750px) {
  .footer__column--info {
    padding-left: 0;
    padding-right: 0;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1025px) {
  .footer-block {
    display: flex;
    flex-direction: column;
    margin-top: 0;
  }

  .footer-block.pos-left {
    align-items: flex-start;
    text-align: left;
  }

  .footer-block.pos-left .list-position-inherit{
    justify-content: flex-start;
  }

  .footer-block.pos-center {
    align-items: center;
    text-align: center;
  }
  

  .footer-block.pos-center .list-position-inherit{
    justify-content: center;
  }

  .footer-block.pos-right {
    align-items: flex-end;
    text-align: right;
  }

  .footer-block.pos-right .list-position-inherit{
    justify-content: flex-end;
  }
}

.footer-block:empty {
  display: none;
}

@media screen and (max-width: 1024px) {
  .footer-block.footer-block--menu:only-child {
    text-align: left;
  }

  .footer-block.pos-mb-left {
    align-items: flex-start;
    text-align: left;
  }

  .footer-block.pos-mb-left .list-position-inherit{
    justify-content: flex-start;
  }

  .footer-block.pos-mb-center {
    align-items: center;
    text-align: center;
  }
  

  .footer-block.pos-mb-center .list-position-inherit{
    justify-content: center;
  }

  .footer-block.pos-mb-right {
    align-items: flex-end;
    text-align: right;
  }

  .footer-block.pos-mb-right .list-position-inherit{
    justify-content: flex-end;
  }
}

.footer-block__heading {
  margin-block: 0 2rem;
  font-size: calc(var(--font-heading-scale) * 1.6rem);
  width: 100%;
}

@media screen and (max-width: 749px) {
  .footer__content-top details.grid__item {
    margin-block: 0;
    border-bottom: solid 0.1rem rgba(var(--color-foreground), var(--separator-opacity, 0.08));
  }

  .footer__content-top details summary {
    padding-block: 1.5rem;
  }

  .footer__content-top details .footer-block__heading {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1025px) {
  .footer-block__heading {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
}

.footer__list-social:empty {
  display: none;
}

.footer__list-social.list-social:only-child,
.footer-bottom .footer__list-social.list-social {
  justify-content: center;
}

.footer-block__newsletter {
  text-align: center;
}

.footer-block__newsletter .newsletter-form {
  margin: 0;
}

.newsletter-form__field-wrapper {
  max-width: 36rem;
}

.newsletter-form__field-wrapper.newsletter-form__field-wrapper--full {
  max-width: 100%;
}

@media screen and (min-width: 750px) {
  /* Pushes other components to the right of the flexbox */
  .footer-block__newsletter:not(:only-child) {
    text-align: left;
  }

  .footer-block__newsletter:not(:only-child) .footer__newsletter {
    justify-content: flex-start;
    margin: 0;
  }

  .footer-block__newsletter:not(:only-child) .newsletter-form__message--success {
    left: auto;
  }
}

@media screen and (max-width: 749px) {
  /*
    On a small screen we want all the items to be centered
    because they will be stacked.
   */
  .footer__list-social.list-social,
  .footer-block__newsletter {
    display: flex;
    justify-content: center;
  }

  .footer-block__newsletter {
    flex-direction: column;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__newsletter + .footer__list-social {
    margin-top: 0;
  }
}

@keyframes appear-down {
  0% {
    opacity: 0;
    margin-top: -1rem;
  }
  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.footer-block__details-content {
  margin-bottom: 4rem;
}

@media screen and (min-width: 750px) {
  .footer-block__details-content {
    margin-bottom: 0;
  }

  .footer-block__details-content > p,
  .footer-block__details-content > li {
    padding: 0;
  }

  .footer-block:only-child li {
    display: inline;
  }
}

.footer-block__details-content .list-menu__item--link,
.copyright__content a {
  color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 750px) {
  .footer-block__details-content .list-menu__item--link:hover,
  .copyright__content a:hover {
    color: rgb(var(--color-foreground));
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

@media screen and (max-width: 1025px) {
  .footer-block__details-content .list-menu__item--link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__details-content .list-menu__item--link {
    display: inline-block;
    font-size: 1.4rem;
  }

  .footer-block__details-content > :first-child .list-menu__item--link {
    padding-top: 0;
  }
}


.footer-block__image-wrapper {
  margin-bottom: 2rem;
  overflow: hidden !important;
}

.footer-block__image-wrapper img {
  display: block;
  height: auto;
  max-width: 100%;
}

.footer-block__brand-info {
  text-align: left;
}

.footer-block:only-child .footer-block__brand-info {
  text-align: center;
}

.footer-block:only-child > .footer-block__brand-info > .footer-block__image-wrapper {
  margin-left: auto;
  margin-right: auto;
}

.footer-block:only-child .footer-block__brand-info .footer__list-social.list-social {
  justify-content: center;
}

.footer-block__brand-info .footer__list-social.list-social {
  justify-content: flex-start;
  margin-left: -1.3rem;
  margin-right: -1.3rem;
}

.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}

.footer-block__email-signup {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem 2.4rem;
}

@media screen and (max-width: 1279px) {
  .footer-block:has(.footer-block__email-signup) {
    width: 100%;
    text-align: center;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__email-signup .footer__list-social {
    justify-content: flex-start;
    margin-left: -1.4rem;
  }
}

.copyright__content {
  font-size: 1.1rem;
}

.copyright__content a {
  color: currentColor;
  text-decoration: none;
}

.policies {
  display: inline;
}

.policies li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.policies li::before {
  content: '\00B7';
  padding: 0 0.8rem;
}

.policies li a {
  padding: 0.6rem 0;
  display: block;
}

@media screen and (min-width: 750px) {
  .policies li a {
    padding: 0;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (max-width: 749px) {
    .footer .grid {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 750px) {
    .footer__content-top .grid {
      margin-left: -3rem;
    }

    .footer__content-top .grid__item {
      padding-left: 3rem;
    }
  }
}

/* mint add css code */
.footer-block.grid__item {
  width: calc(var(--width-footer-col) - var(--gap-x) * var(--gap-count) / (var(--gap-count) + 1));
  max-width: calc(var(--width-footer-col) - var(--gap-x) * var(--gap-count) / (var(--gap-count) + 1));
}

@media screen and (max-width: 749px) {
  .footer-block.grid__item {
    width: 100% !important;  
    max-width: 100% !important;
  }
}
@media (min-width: 750px) and (max-width: 1024px) {
  .footer-block.grid__item {
    width: calc(var(--width-footer-col-mb) - var(--gap-x) * var(--gap-count) / (var(--gap-count) + 1));
    max-width: calc(var(--width-footer-col-mb) - var(--gap-x) * var(--gap-count) / (var(--gap-count) + 1));
  }

  .footer-block.grid__item.full-width-tablet {
    width: 100% !important;  
    max-width: 100% !important;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .footer-block.grid__item.full-width-tablet .flex-section .grid__item {
    width: calc(var(--width-footer-col-mb) - var(--gap-x) * var(--gap-count) / (var(--gap-count) + 1));
    max-width: calc(var(--width-footer-col-mb) - var(--gap-x) * var(--gap-count) / (var(--gap-count) + 1));
  }
}

@media (min-width: 750px) {
  .footer-block--menu {
    border: none;
  }

  .footer-block--menu summary {
    pointer-events: none !important;
  }
}