tabs-component {
    .tabs-component-panel-trigger {
        &.--active {
            border-bottom: 2px solid var(--color-primary-hover);
            display: block;
            padding-bottom: 2px;
            transition: none;
        }
    }
    .tabs-component-content {
        display: none;
        &.--active {
            display: block;
        }
    }
}