/* Base */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  letter-spacing: 0.07rem;
  max-width: var(--page-width);
  margin: 0 auto;
  flex: 1 0 auto;
  font-family: var(--font-body--family);
  font-style: var(--font-body--style);
  font-weight: var(--font-body--weight);
}

.button {
  text-align: center;
  border: none;
  padding: 1.5rem 3rem;
  font-size: 1.5rem;
  letter-spacing: .1rem;
}

.button::selection {
  background-color: rgb(var(--color-primary-button-text-rgb) / var(--opacity-30));
}

.button-secondary {
  color: var(--color-secondary-button-text);
  box-shadow: 0 0 0 0.1rem var(--color-secondary-button-text);
  background-color: transparent;
}

.button-secondary::selection {
  background-color: rgb(var(--color-secondary-button-text-rgb) / var(--opacity-30));
}

.gift-card {
  padding: 3rem;
}

@media only screen and (min-width: 750px) {
  .gift-card {
    padding: 5rem 5rem 3rem;
  }
}

.gift-card__image-wrapper {
  margin: 3rem auto;
  max-width: 40rem;
}

.gift-card__image {
  max-width: 100%;
  height: auto;
  object-fit: scale-down;
  max-height: 26rem;
}

@media only screen and (min-width: 750px) {
  .gift-card__image {
    padding: 0;
  }
}

.gift-card__price {
  gap: 0rem 1rem;
  letter-spacing: 1px;
  opacity: var(--opacity-80);
}

.gift-card__number {
  color: var(--color-foreground);
  font-size: 1.8rem;
  letter-spacing: 0.25rem;
  opacity: var(--opacity-80);
  margin: 3rem 0;
}

.gift-card__text-wrapper {
  max-width: 30rem;
  margin: 0 auto;
}

.gift-card__text {
  font-size: 1.7rem;
  opacity: var(--opacity-60);
  margin: 0;
}

.badge {
  border: 1px solid transparent;
  border-radius: 4rem;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  padding: 0.6rem 1.3rem;
  background: var(--color-background);
  border-color: rgb(var(--color-foreground-rgb) / var(--opacity-4));
  color: var(--color-foreground);
}

.badge--expired {
  background-color: var(--color-sold-out-badge-background);
  color: var(--color-sold-out-badge-foreground);
  border-color: var(--color-sold-out-badge-border);
}

.gift-card__qr-code {
  margin: 3rem 0;
}

.gift-card__qr-code img {
  margin: 0 auto;
}

.gift_card__apple-wallet {
  line-height: 0;
  margin-bottom: 3rem;
}

.gift-card__buttons {
  max-width: 25rem;
}

.gift-card__buttons > .button {
  display: block;
  margin: 1rem 0;
}

/* Fallback - for browsers that don't support :focus-visible, a fallback is set for :focus */
.focused {
  outline: 0.2rem solid rgb(var(--color-foreground-rgb) / var(--opacity-50));
  outline-offset: 0.3rem;
  box-shadow: 0 0 0 0.3rem var(--color-foreground), 0 0 0.5rem 0.4rem rgb(var(--color-foreground-rgb) / var(--opacity-30));
}

.button:focus-visible {
  box-shadow: 0 0 0 0.1rem var(--color-primary-button-background), 0 0 0 0.3rem var(--color-foreground),
    0 0 0.5rem 0.4rem rgb(var(--color-foreground-rgb) / var(--opacity-30));
}

.button:focus {
  box-shadow: 0 0 0 0.1rem var(--color-primary-button-background), 0 0 0 0.3rem var(--color-foreground),
    0 0 0.5rem 0.4rem rgb(var(--color-foreground-rgb) / var(--opacity-30));
}

.button-secondary:focus-visible {
  box-shadow: 0 0 0 0.1rem var(--color-secondary-button-text), 0 0 0 0.3rem var(--color-foreground),
    0 0 0.5rem 0.4rem rgb(var(--color-foreground-rgb) / var(--opacity-30));
}

.button-secondary:focus {
  box-shadow: 0 0 0 0.1rem var(--color-secondary-button-text), 0 0 0 0.3rem var(--color-foreground),
    0 0 0.5rem 0.4rem rgb(var(--color-foreground-rgb) / var(--opacity-30));
}

.form__message {
  font-size: 1.2rem;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  opacity: var(--opacity-80);
}

.form__message .icon {
  flex-shrink: 0;
  height: 1.3rem;
  margin-right: 0.5rem;
  width: 1.3rem;
}

@media print {
  .no-print {
    display: none;
  }
}